<form
    ngNativeValidate
    fxLayout="column"
    class="dialog-content-wrapper"
    cdkDrag
    cdkDragRootElement=".cdk-overlay-pane"
    style="min-width: 500px;"
    autocomplete="off"
    (ngSubmit)="Simpan()"
>
    <mat-toolbar cdkDragHandle matDialogTitle class="mat-primary m-0">
        <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">
                {{Com.title}}
            </span>
            <button
                mat-button
                type="button"
                class="mat-icon-button ml-24"
                mat-dialog-close
                aria-label="Close dialog"
                tabindex="-1"
                *ngIf="!Busy"
            >
                <mat-icon class="white-fg">close</mat-icon>
            </button>
        </div>
    </mat-toolbar>

    <mat-dialog-content fxLayout="row" fxLayout.sm="column" class="m-0 p-24">
        <!-- RIGHT FORM -->
        <mat-dialog-content fxFlex="1 1 auto" fxLayout="column">

            <mat-form-field
                fxFlex="1 1 auto"
                appearance="outline"
                class="small"
            >
                <mat-label>Date</mat-label>
                <input
                    matInput
                    name="tanggal"
                    placeholder="Please Select Date"
                    [(ngModel)]="form.tanggal"
                    
                    [max]="maxDate"
                    required
                    [matDatepicker]="tanggal"
                    (focus)="tanggal.open()"
                    (click)="tanggal.open()"
                    [disabled]="form.is_detail"
                    readonly
                    style="
                        font-size: 14px !important;
                        color: #000 !important;
                        padding: 0px !important;
                    "
                />
                <mat-datepicker #tanggal></mat-datepicker>
            </mat-form-field>

            <mat-form-field appearance="outline" class="small" *ngIf="form.tanggal">
                <mat-label>Company</mat-label>
                <input
                    matInput
                    type="text"
                    placeholder="Company"
                    name="company_nama"
                    [(ngModel)]="form.company_nama"
                    required
                    [matAutocomplete]="acCompany"
                    (ngModelChange)="CompanyFilter()"
                    [readonly]="CompanyLen == 1 || form.is_detail || form.id != 'add' || form.company"
                />
                <button
                    type="button"
                    mat-button
                    *ngIf="form.company && CompanyLen > 1 && !form.is_detail"
                    matSuffix
                    mat-icon-button
                    aria-label="Clear"
                    (click)="CompanyRemove(); CompanyFilter();"
                    tabindex="-1"
                >
                    <mat-icon>close</mat-icon>
                </button>
                <mat-autocomplete
                    autoActiveFirstOption
                    #acCompany="matAutocomplete"
                    class="force-wrap ac-small"
                >
                    <mat-option
                        *ngFor="let item of Company"
                        [value]="item.nama"
                        (onSelectionChange)="CompanySelect($event, item)"
                    >
                        {{ item.nama }}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>

            <!-- PO KODE SUPPLIER -->
            <ng-container *ngIf="form.company">
                <mat-form-field
                    fxFlex="1 1 auto"
                    appearance="outline"
                    class="small"
                >
                    <mat-label>Supplier</mat-label>
                    <input
                        matInput
                        type="text"
                        placeholder="Please Select Supplier"
                        name="supplier_nama"
                        id="supplier_nama"
                        [(ngModel)]="form.supplier_nama"
                        (ngModelChange)="SupplierFilter(form.supplier_nama)"
                        [matAutocomplete]="acSupplier"
                        (focus)="SupplierFilter(form.supplier_nama)"
                        (click)="SupplierFilter(form.supplier_nama)"
                        [readonly]="form.is_detail || form.supplier"
                    />
                    <button
                        type="button"
                        mat-button
                        *ngIf="form.supplier && !form.is_detail"
                        matSuffix
                        mat-icon-button
                        aria-label="Clear"
                        (click)="SupplierRemove(); SupplierFilter(form.supplier_nama);"
                        tabindex="-1"
                    >
                        <mat-icon>close</mat-icon>
                    </button>
                    <mat-autocomplete
                        autoActiveFirstOption
                        #acSupplier="matAutocomplete"
                        class="force-wrap ac-small"
                    >
                        <mat-option
                            *ngFor="let item of Supplier"
                            [value]="item.supplier_nama"
                            (onSelectionChange)="SupplierSelect($event, item)"
                        >
                            {{ item.supplier_nama }}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>

                <mat-form-field appearance="outline" class="small">
                    <mat-label>Inv Code</mat-label>
                    <input
                        matInput
                        type="text"
                        placeholder="Please Define PO Code to Continue"
                        name="inv_kode"
                        id="inv_kode"
                        [(ngModel)]="form.inv_kode"
                        required
                        [matAutocomplete]="acPOCode"
                        (ngModelChange)="INVCodeFilter(form.inv_kode)"
                        (focus)="INVCodeFilter(form.inv_kode)"
                        (click)="INVCodeFilter(form.inv_kode)"
                        [readonly]="form.is_detail || form.inv"
                        [tabindex]="form.id != 'add' ? '-1' : ''"
                    />
                    <button
                        type="button"
                        mat-button
                        *ngIf="form.inv && !form.is_detail"
                        matSuffix
                        mat-icon-button
                        aria-label="Clear"
                        (click)="INVCodeRemove(); INVCodeFilter(form.inv_kode); "
                        tabindex="-1"
                    >
                        <mat-icon>close</mat-icon>
                    </button>
                    <mat-autocomplete
                        autoActiveFirstOption
                        #acPOCode="matAutocomplete"
                        class="force-wrap ac-small"
                    >
                        <mat-option
                            *ngFor="let item of INVCode"
                            [value]="item.kode"
                            (onSelectionChange)="INVCodeSelect($event, item)"
                        >
                            <small
                                >{{ item.kode }} ( {{ item.supplier_nama }}
                                )</small
                            >
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>

                <mat-form-field
                    fxFlex="1 1 auto"
                    appearance="outline"
                    class="small"
                >
                    <mat-label>Amount</mat-label>
                    <input
                        matInput
                        type="text"
                        name="ref_kode"
                        [(ngModel)]="form.amount"
                        required
                        readonly
                        currencyMask
                        [options]="
                        {
                            prefix: '',
                            suffix: ' '+form.currency,
                            allowNegative: false,
                            thousands: '.',
                            decimal: ',',
                            precision: 2
                        }
                        "
                    />
                </mat-form-field>
            </ng-container>
            <!-- END PO KODE SUPPLIER -->

        </mat-dialog-content>
        <!-- RIGHT FORM -->

        <!-- LIST GRN -->
        <mat-dialog-content
            class="p-0 m-0 ml-24 mt-8"
            fxLayout="column"
            *ngIf="form.inv"
        >


            <div>
                <div class="form-section-header">
                    Expense
                </div>
                <hr class="mt-0 mb-0" />
                <table
                    class="table table-responsive table-input table-small table-striped table-hover"
                >
                    <thead>
                        <tr>
                            <th width="10">
                                <div *ngIf="!form.is_detail">
                                    <mat-icon color="warn">delete</mat-icon>
                                </div>
                                <div *ngIf="form.is_detail">
                                    No.
                                </div>
                            </th>
                            <th>
                                COA Code
                            </th>
                            <th width="250">
                                COA Description
                            </th>
                            <th width="150">
                                Amount
                            </th>
                            <th width="250">
                                Notes
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of List; let i = index;">
                            <td class="text-center">
                                <div *ngIf="!form.is_detail">
                                    <button
                                        type="button"
                                        mat-icon-button
                                        (click)="DeleteList(i)"
                                        *ngIf="List?.length > 0"
                                        tabindex="-1"
                                    >
                                        <mat-icon class="red-fg"
                                            >close</mat-icon
                                        >
                                    </button>
                                </div>
                                <div *ngIf="form.is_detail" padding5>
                                    {{ i+1 }}
                                </div>
                            </td>
                            <td padding5>
                                {{ item.kode }}
                            </td>
                            <td nopadding style="position: relative;">
                                <textarea
                                    type="text"
                                    placeholder="Type COA Code or Name Here"
                                    id="nama-{{i}}"
                                    name="nama-{{i}}"
                                    [(ngModel)]="item.nama"
                                    [matAutocomplete]="acItem"
                                    (ngModelChange)="COAFilter(item.nama, i)"
                                    (click)="COAFilter(item.nama, i)"
                                    (focus)="COAFilter(item.nama, i)"
                                    [tabindex]="item.id ? '-1' : null"
                                    [readonly]="form.is_detail || item.coa"
                                ></textarea>
                                <button
                                    type="button"
                                    style="position: absolute; right: 0px;"
                                    mat-button
                                    *ngIf="item.coa && !form.is_detail"
                                    matSuffix
                                    mat-icon-button
                                    aria-label="Clear"
                                    (click)="removeCoa(item);"
                                    tabindex="-1"
                                >
                                    <mat-icon>close</mat-icon>
                                </button>
                                <mat-autocomplete
                                    #acItem="matAutocomplete"
                                    class="force-wrap ac-small"
                                >
                                    <mat-option
                                        *ngFor="let item of COA"
                                        (onSelectionChange)="COASelect($event, item, i)"
                                        [value]="item.nama"
                                    >
                                        <sup
                                            ><strong class="primary-fg"
                                                >{{ item.kode }}</strong
                                            ></sup
                                        >
                                        {{ item.nama }}
                                    </mat-option>
                                </mat-autocomplete>
                                <div
                                    *ngIf="WaitItem[i]"
                                    style="
                                        position: absolute;
                                        right: 0px;
                                        top: 0px;
                                    "
                                >
                                    <mat-spinner
                                        diameter="20"
                                        strokeWidth="2"
                                        color="error"
                                        style="margin-top: 5px;"
                                    ></mat-spinner>
                                </div>
                            </td>
                            <td>
                                <input
                                    type="text"
                                    autocomplete="off"
                                    maxlength="23"
                                    currencyMask
                                    name="amount-{{i}}"
                                    id="amount-{{i}}"
                                    [(ngModel)]="item.amount"
                                    (ngModelChange)="ChangeValue()"
                                    [options]="
                                    {
                                        prefix: '',
                                        allowNegative: false,
                                        thousands: '.',
                                        decimal: ',',
                                        precision: 2
                                    }
                                    "
                                    [readonly]="!item.coa || form.is_detail"
                                />
                            </td>
                            <td>
                                <textarea
                                    type="text"
                                    id="notes-{{i}}"
                                    name="notes-{{i}}"
                                    [(ngModel)]="item.notes"
                                    [readonly]="form.is_detail"
                                    [tabindex]="item.coa ? '-1' : null"
                                    [readonly]="!item.coa || form.is_detail"
                                ></textarea>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot padding5 class="table-input-noborderx">
                        <tr>
                            <td colspan="6" class="text-right text-bold">
                                <button
                                    style="
                                        width: 100%;
                                        padding: 3px 3px;
                                        min-height: 10px;
                                        line-height: 20px;
                                        font-size: 13px;
                                    "
                                    mat-button
                                    type="button"
                                    *ngIf="!form.is_detail"
                                    class="primary-fg"
                                    (click)="CreateList()"
                                >
                                    <mat-icon>add</mat-icon>
                                    Tambah Kolom
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3" class="text-right text-bold">
                                Total Amount
                            </td>
                            <!-- <td class="text-right text-bold">
                                <input
                                    type="text"
                                    maxlength="23"
                                    currencyMask
                                    name="Totalsisa"
                                    [(ngModel)]="form.Totalsisa"
                                    [options]="
                                    {
                                        prefix: '',
                                        allowNegative: true,
                                        thousands: '.',
                                        decimal: ',',
                                        precision: 2
                                    }
                                    "
                                    readonly
                                />
                            </td> -->
                            <td class="text-right text-bold">
                                <input
                                    type="text"
                                    maxlength="23"
                                    currencyMask
                                    name="totalExpAmount"
                                    [(ngModel)]="form.totalExpAmount"
                                    [options]="
                                    {
                                        prefix: '',
                                        allowNegative: true,
                                        thousands: '.',
                                        decimal: ',',
                                        precision: 2
                                    }
                                    "
                                    readonly
                                />
                            </td>
                            <td></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </mat-dialog-content>
        <!-- LIST GRN -->
    </mat-dialog-content>

    <!-- ACTIONS -->
    <mat-dialog-actions
        class="p-16 m-0"
        fxLayout="row"
        fxLayoutAlign="end"
        fxLayoutGap="10px"
    >
        <div fxFlex="1 1 auto" fxLayout="row">
            <button
                *ngIf="!form.is_detail"
                type="submit"
                mat-button
                color="primary"
                [disabled]="
                    !form.tanggal ||
                    !form.company ||
                    !form.inv ||
                    form.totalExpAmount > form.amount
                "
            >
                <mat-icon>save</mat-icon>
                {{ Busy ? 'Please Wait...' : 'Save' }}
            </button>

            

            <!-- <button
                *ngIf="
                    form.is_detail
                "
                type="button"
                mat-button
                (click)="Edit();"
            >
                <mat-icon>create</mat-icon>
                Edit
            </button> -->
        </div>

        <div>
            <button *ngIf="!Busy" type="button" mat-button mat-dialog-close>
                <mat-icon>close</mat-icon>
                Close
            </button>
        </div>
    </mat-dialog-actions>
    <!-- / ACTIONS -->
</form>