<form
    ngNativeValidate
    (ngSubmit)="Simpan()"
    class="dialog-content-wrapper"
    cdkDrag
    cdkDragRootElement=".cdk-overlay-pane"
    autocomplete="off"
    aria-autocomplete="none"
    style="min-width: 500px;"
>
    <mat-toolbar cdkDragHandle matDialogTitle class="mat-primary m-0">
        <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title" *ngIf="form.id == 'add'">
                Add New {{ Com.name }}
            </span>
            <span class="title dialog-title" *ngIf="form.id != 'add'">
                {{ Com.title }}
            </span>
            <button
                mat-button
                type="button"
                class="mat-icon-button ml-24"
                mat-dialog-close
                aria-label="Close dialog"
                tabindex="-1"
                *ngIf="!Busy"
            >
                <mat-icon class="white-fg">close</mat-icon>
            </button>
        </div>
    </mat-toolbar>

    <!-- CONTENT -->
    <!-- <mat-dialog-content fxLayout="row" fxLayout.sm="column" class="m-0 p-16"> -->
    <mat-dialog-content fxLayout="row" fxLayout.sm="column" class="p-24 m-0">
        <!-- LEFT -->
        <mat-dialog-content fxFlex="1 1 auto" fxLayout="column">
            <mat-form-field
                floatPlaceholder="always"
                appearance="outline"
                class="small"
            >
                <mat-label>REQUIRED DATE</mat-label>
                <input
                    matInput
                    name="date_target"
                    placeholder="Please Select Date"
                    [(ngModel)]="form.date_target"
                    [min]="minDate"
                    (ngModelChange)="FocusCompany()"
                    [matDatepicker]="date_target"
                    (focus)="date_target.open()"
                    (click)="date_target.open()"
                    [disabled]="form.is_detail"
                    style="
                        font-size: 14px !important;
                        color: #000 !important;
                        padding: 0px !important;
                    "
                    readonly
                    required
                />
                <mat-datepicker #date_target></mat-datepicker>
            </mat-form-field>

            <sh-company
                *ngIf="form.date_target"
                [Default]="Default"
                [form]="form"
                (onSelect)="CompanySelect($event)"
                (onReset)="CompanyReset()"
            ></sh-company>

            <!-- Company -->
            <!-- <mat-form-field *ngIf="form.date_target" appearance="outline" class="small">
                <mat-label>Company</mat-label>
                <input matInput 
                    type="text" 
                    placeholder="Company" 
                    name="company_nama" 
                    [(ngModel)]="form.company_nama"
                    [matAutocomplete]="acCompany"
                    (ngModelChange)="CompanyFilter()"
                    [readonly]="CompanyLen == 1 || form.is_detail || form.id != 'add' || form.company"
                    required
                >
                <button mat-button 
                    type="button" 
                    *ngIf="form.company && !form.is_detail" 
                    matSuffix 
                    mat-icon-button 
                    aria-label="Clear" 
                    (click)="CompanyReset()">
                    <mat-icon>close</mat-icon>
                </button>
                <mat-autocomplete #acCompany="matAutocomplete" class="force-wrap ac-small">
                    <mat-option *ngFor="let item of Company" [value]="item.nama" (onSelectionChange)="CompanySelect($event, item)">
                        {{ item.nama }}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field> -->
            <!-- / Company -->

            <!-- Dept -->
            <div fxLayout="row" fxLayoutAlign="start top" fxLayoutGap="10px">
                <mat-form-field
                    *ngIf="form.company && form.date_target"
                    fxFlex="1 0 auto"
                    appearance="outline"
                    class="small"
                >
                    <mat-label
                        >{{ form.company && DeptReady && !form.dept ?
                        'Department (Create New)' : 'Department' }}</mat-label
                    >
                    <input
                        matInput
                        type="text"
                        [placeholder]="
                            form.company && 
                            DeptReady &&
                            !form.dept 
                            ? 
                            'Department (Create New)' 
                            :
                            'Department'
                        "
                        name="dept_nama"
                        [(ngModel)]="form.dept_nama"
                        [matAutocomplete]="acDept"
                        (ngModelChange)="DeptFilter();"
                        class="uppercase"
                        [readonly]="DeptLen == 1 || form.is_detail || form.id != 'add' || form.dept"
                        required
                    />
                    <button
                        mat-button
                        type="button"
                        *ngIf="form.dept && !form.is_detail"
                        matSuffix
                        mat-icon-button
                        aria-label="Clear"
                        (click)="form.dept = null; form.dept_nama = null; form.dept_abbr = null"
                    >
                        <mat-icon>close</mat-icon>
                    </button>
                    <mat-autocomplete
                        autoActiveFirstOption
                        #acDept="matAutocomplete"
                        class="force-wrap ac-small"
                    >
                        <mat-option
                            *ngFor="let item of Dept"
                            [value]="item.nama"
                            (onSelectionChange)="DeptSelect($event, item)"
                        >
                            {{ item.nama }}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>

                <mat-form-field
                    *ngIf="form.company && form.date_target && DeptReady"
                    fxFlex="1 0 60px"
                    appearance="outline"
                    class="small"
                >
                    <mat-label>Abbr</mat-label>
                    <input
                        matInput
                        type="text"
                        placeholder="Abbr"
                        name="dept_abbr"
                        [(ngModel)]="form.dept_abbr"
                        [required]="form.company && DeptReady && !form.dept"
                        class="uppercase"
                        [readonly]="form.is_detail || form.id != 'add' || form.dept"
                        maxlength="5"
                    />
                </mat-form-field>
            </div>
            <!-- / Dept -->

            <!-- cost center -->
            <div fxLayout="row" fxLayoutAlign="start top" fxLayoutGap="10px">
                <mat-form-field
                    *ngIf="form.company && form.date_target && form.dept"
                    fxFlex="1 1 auto"
                    appearance="outline"
                    class="small"
                >
                    <mat-label>Cost Center</mat-label>
                    <input
                        matInput
                        type="text"
                        placeholder="Select Cost Center"
                        name="cost_nama"
                        [(ngModel)]="form.cost_nama"
                        [matAutocomplete]="acCost"
                        (ngModelChange)="CostFilter(form.cost_nama)"
                        (focus)="CostFilter(form.cost_nama)"
                        (click)="CostFilter(form.cost_nama)"
                        [readonly]="form.is_detail || form.cost"
                        required
                    />
                    <button
                        mat-button
                        type="button"
                        *ngIf="form.cost && !form.is_detail"
                        matSuffix
                        mat-icon-button
                        aria-label="Clear"
                        (click)="form.cost = null; form.cost_kode = null; form.cost_nama = null"
                    >
                        <mat-icon>close</mat-icon>
                    </button>
                    <mat-autocomplete
                        autoActiveFirstOption
                        #acCost="matAutocomplete"
                        class="force-wrap ac-small"
                    >
                        <mat-option
                            *ngFor="let item of Cost"
                            [value]="item.nama"
                            (onSelectionChange)="CostSelect($event, item)"
                        >
                            {{ item.nama }}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>

                <mat-form-field
                    *ngIf="form.company && form.date_target && form.cost"
                    fxFlex="1 0 60px"
                    appearance="outline"
                    class="small"
                >
                    <mat-label>Cost Center Code</mat-label>
                    <input
                        matInput
                        type="text"
                        placeholder="Cost Center Code"
                        name="cost_kode"
                        [(ngModel)]="form.cost_kode"
                        [required]="form.company && !form.cost"
                        readonly
                    />
                </mat-form-field>
            </div>
            <!-- cost center -->

            <!-- After Company -->
            <div
                *ngIf="form.company && form.dept_abbr && form.date_target"
                fxLayout="column"
            >
                <mat-form-field
                    fxFlex="1 1 auto"
                    appearance="outline"
                    class="small"
                >
                    <mat-label>Notes</mat-label>
                    <textarea
                        matInput
                        type="text"
                        placeholder="Notes"
                        name="note"
                        [(ngModel)]="form.note"
                        matTextareaAutosize
                        [matAutosizeMinRows]="2"
                        [readonly]="form.is_detail"
                    ></textarea>
                </mat-form-field>
            </div>
            <!-- / After Company -->
        </mat-dialog-content>
        <!-- / LEFT -->

        <!-- RIGHT -->
        <mat-dialog-content
            *ngIf="form.date_target && form.company && form.dept_abbr && form.note"
            class="p-0 m-0 ml-24 mt-8"
            fxLayout="column"
        >
            <div>
                <table
                    class="table table-responsive table-input table-small table-striped table-hover table-border-top"
                >
                    <thead>
                        <tr>
                            <th width="10">
                                <div *ngIf="!form.is_detail">
                                    <mat-icon color="warn">delete</mat-icon>
                                </div>
                                <div *ngIf="form.is_detail">
                                    No.
                                </div>
                            </th>
                            <th width="300">
                                Item
                            </th>
                            <th width="75">
                                Code
                            </th>
                            <th width="50">
                                UOM
                            </th>
                            <th width="100">
                                Stock
                            </th>
                            <th width="100">
                                Qty
                            </th>
                            <th width="200">
                                Cost Center
                            </th>
                            <!-- <th width="70">
                                Account Code
                            </th>
                            <th width="250">
                                Account Description
                            </th> -->
                            <th>
                                Remarks
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of List; let i = index;">
                            <td class="text-center">
                                <div *ngIf="!form.is_detail">
                                    <button
                                        type="button"
                                        mat-icon-button
                                        (click)="DeleteList(i)"
                                        *ngIf="
                                                List?.length > 1 && 
                                                item.id
                                            "
                                        tabindex="-1"
                                    >
                                        <mat-icon class="red-fg"
                                            >close</mat-icon
                                        >
                                    </button>
                                </div>
                                <div *ngIf="form.is_detail" padding5>
                                    {{ i+1 }}
                                </div>
                            </td>
                            <!-- Input Name -->
                            <td
                                style="position: relative;"
                                *ngIf="!form.is_detail"
                            >
                                <textarea
                                    type="text"
                                    placeholder="Item Name"
                                    id="nama-{{i}}"
                                    name="nama-{{i}}"
                                    [(ngModel)]="item.nama"
                                    [required]="i == 0"
                                    [matAutocomplete]="acItem"
                                    (ngModelChange)="ItemFilter(item.nama, i)"
                                    [readonly]="form.is_detail || item.id"
                                    [tabindex]="item.id ? '-1' : null"
                                ></textarea>
                                <mat-autocomplete
                                    autoActiveFirstOption
                                    #acItem="matAutocomplete"
                                    class="force-wrap ac-small"
                                >
                                    <mat-option
                                        *ngFor="let item of Item"
                                        (onSelectionChange)="ItemSelect($event, item, i)"
                                        [value]="item.nama"
                                    >
                                        <sup
                                            ><strong class="primary-fg"
                                                >{{ item.kode }}</strong
                                            ></sup
                                        >
                                        {{ item.nama }}
                                        <div style="font-style: italic;"><strong>Stock: {{ item.stock }} {{ item.satuan }}</strong></div>
                                        <mat-divider></mat-divider>
                                    </mat-option>
                                </mat-autocomplete>
                                <div
                                    *ngIf="WaitItem[i]"
                                    style="
                                        position: absolute;
                                        right: 0px;
                                        top: 0px;
                                    "
                                >
                                    <mat-spinner
                                        diameter="20"
                                        strokeWidth="2"
                                        color="error"
                                        style="margin-top: 5px;"
                                    ></mat-spinner>
                                </div>
                            </td>
                            <!-- / END : Input name  -->
                            <!-- View Name -->
                            <td *ngIf="form.is_detail" padding5>
                                {{ item.nama }}
                            </td>
                            <!-- / END : View Name -->
                            <td
                                padding5
                                style="white-space: nowrap !important;"
                            >
                                {{ item.kode }}
                            </td>
                            <td padding5 class="text-center">
                                {{ item.satuan }}
                            </td>
                            <td (click)="FocusTo('#stock-' + i)">
                                <input
                                    [disabled]="!item.id"
                                    type="text"
                                    autocomplete="off"
                                    maxlength="23"
                                    currencyMask
                                    name="stock-{{i}}"
                                    id="stock-{{i}}"
                                    [(ngModel)]="item.stock"
                                    [required]="i == 0 || item.id"
                                    [options]="
                                    item.in_decimal == 1 ? {
                                        prefix: '',
                                        allowNegative: false,
                                        thousands: '.',
                                        decimal: ',',
                                        precision: 2
                                    } : {
                                        prefix: '',
                                        allowNegative: false,
                                        thousands: '.',
                                        decimal: ',',
                                        precision: 0
                                    }
                                    "
                                    readonly
                                />
                            </td>
                            <td (click)="FocusTo('#qty-' + i)">
                                <input
                                    [disabled]="!item.id"
                                    type="text"
                                    autocomplete="off"
                                    maxlength="23"
                                    currencyMask
                                    name="qty-{{i}}"
                                    id="qty-{{i}}"
                                    [(ngModel)]="item.qty"
                                    [required]="i == 0 || item.id"
                                    [options]="
                                    item.in_decimal == 1 ? {
                                        prefix: '',
                                        allowNegative: false,
                                        thousands: '.',
                                        decimal: ',',
                                        precision: 2
                                    } : {
                                        prefix: '',
                                        allowNegative: false,
                                        thousands: '.',
                                        decimal: ',',
                                        precision: 0
                                    }
                                    "
                                    [readonly]="form.is_detail"
                                />
                            </td>
                            <!-- Input Cost Center -->
                            <td
                                style="position: relative;"
                                *ngIf="!form.is_detail"
                            >
                                <textarea
                                    type="text"
                                    placeholder="Cost center"
                                    id="cost_center_nama-{{i}}"
                                    name="cost_center_nama-{{i}}"
                                    [(ngModel)]="item.cost_center_nama"
                                    [required]="i == 0"
                                    [matAutocomplete]="acCostD"
                                    (ngModelChange)="CostFilterD(item.cost_center_nama, i)"
                                    [readonly]="form.is_detail"
                                    [tabindex]="item.id ? '-1' : null"
                                ></textarea>
                                <button
                                    type="button"
                                    style="position: absolute; right: 0;"
                                    mat-button
                                    *ngIf="item.cost_center > 0"
                                    matSuffix
                                    mat-icon-button
                                    aria-label="Clear"
                                    (click)="removeCostCenter(item);"
                                    tabindex="-1"
                                >
                                    <mat-icon>close</mat-icon>
                                </button>
                                <mat-autocomplete
                                    autoActiveFirstOption
                                    #acCostD="matAutocomplete"
                                    class="force-wrap ac-small"
                                >
                                    <mat-option
                                        *ngFor="let item of CostD"
                                        (onSelectionChange)="CostSelectD($event, item, i)"
                                        [value]="item.nama"
                                    >
                                        <sup
                                            ><strong class="primary-fg"
                                                >{{ item.kode }}</strong
                                            ></sup
                                        >
                                        {{ item.nama }}
                                    </mat-option>
                                </mat-autocomplete>
                                <div
                                    *ngIf="WaitCostD[i]"
                                    style="
                                        position: absolute;
                                        right: 0px;
                                        top: 0px;
                                    "
                                >
                                    <mat-spinner
                                        diameter="20"
                                        strokeWidth="2"
                                        color="error"
                                        style="margin-top: 5px;"
                                    ></mat-spinner>
                                </div>
                            </td>
                            <!-- / END : Input Cost Center  -->
                            <!-- View Cost Center -->
                            <td *ngIf="form.is_detail" padding5>
                                {{ item.cost_center_nama }}
                            </td>
                            <!-- / END : View Cost Center -->
                            <!-- <td padding5>
                                {{ item.coa_kode }}
                            </td>
                            <td nopadding style="position: relative" *ngIf="!form.is_detail">
                                <textarea
                                    type="text"
                                    placeholder="Item COA"
                                    id="coa_nama-{{i}}"
                                    name="coa_nama-{{i}}"
                                    [(ngModel)]="item.coa_nama"
                                    [required]="i == 0"
                                    [readonly] ="item.coa"
                                    [matAutocomplete]="acItem"
                                    (ngModelChange)="COAFilter(item.coa_nama, i)"
                                    [tabindex]="item.id ? '-1' : null"
                                ></textarea>
                                <button type="button" style="position: absolute; right: 0px;" mat-button *ngIf="item.coa" matSuffix mat-icon-button aria-label="Clear" (click)="removeCoa(item);" tabindex="-1">
                                    <mat-icon>close</mat-icon>
                                </button>
                                <mat-autocomplete #acItem="matAutocomplete" class="force-wrap ac-small">
                                    <mat-option *ngFor="let item of COA"  (onSelectionChange)="COASelect($event, item, i)" [value]="item.nama">
                                        <sup><strong class="primary-fg">{{ item.kode }}</strong></sup> 
                                        {{ item.nama }}
                                    </mat-option>
                                </mat-autocomplete>
                            </td>
                            <td *ngIf="form.is_detail" padding5>
                                {{ item.coa_nama }}
                            </td> -->
                            <td *ngIf="!form.is_detail">
                                <textarea
                                    type="text"
                                    placeholder="Remarks"
                                    id="remarks-{{i}}"
                                    name="remarks-{{i}}"
                                    [(ngModel)]="item.remarks"
                                    [readonly]="form.is_detail"
                                    [tabindex]="item.id ? '-1' : null"
                                ></textarea>
                            </td>
                            <td *ngIf="form.is_detail" padding5>
                                {{ item.remarks }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </mat-dialog-content>
        <!-- / RIGHT -->
    </mat-dialog-content>
    <!-- / CONTENT -->

    <!-- ACTION -->
    <mat-dialog-actions class="p-16 m-0" fxLayout="row" fxLayoutAlign="end">
        <div fxLayout="row" fxFlex="1 1 auto">
            <button
                *ngIf="!form.is_detail"
                type="submit"
                mat-raised-button
                color="primary"
                [disabled]="
                    Busy || 
                    !form.company || 
                    !form.company_abbr || 
                    !form.note || 
                    !List[0].id
                "
            >
                {{ Busy ? 'Please Wait...' : 'Save' }}
            </button>

            <button
                *ngIf="form.is_detail && perm.verify && form.verified == 0"
                type="button"
                mat-raised-button
                color="accent"
                [disabled]="
                    Busy
                "
                (click)="Verify()"
            >
                {{ Busy ? 'Please Wait...' : 'Verify' }}
            </button>

            <button
                *ngIf="form.is_detail"
                type="button"
                mat-button
                color="primary"
                [disabled]="
                    Busy || 
                    form.approved != 1
                "
                (click)="ShowPrintDialog()"
            >
                <mat-icon>print</mat-icon>

                {{ Busy ? 'Please Wait...' : 'Print Material Request' }} {{
                form.approved != 1 ? '(Waiting Approve)' : '' }}
            </button>

            <!-- <div *ngIf="form.is_detail && perm.approve && form.verified == 1 && (form.approved == 0 || form.validated == 0)"> -->
            <div
                *ngIf="form.is_detail && perm.approve && form.verified == 1 && form.approved == 0"
            >
                <button
                    type="button"
                    mat-button
                    color="primary"
                    *ngIf="form.approved == 0 && form.verified == 1"
                    [disabled]="
                        Busy
                    "
                    (click)="Approve()"
                >
                    <mat-icon>check</mat-icon>
                    {{ Busy ? 'Please Wait...' : 'Approve' }}
                </button>

                <!-- <button
                    type="button"
                    mat-button
                    color="primary"
                    *ngIf="form.approved == 1 && form.validated == 0"
                    [disabled]="
                        Busy
                    "
                    (click)="Validated()"
                >
                    <mat-icon>check</mat-icon>
                    {{ Busy ? 'Please Wait...' : 'Validate' }}
                </button> -->

                <button
                    type="button"
                    mat-button
                    color="warn"
                    [disabled]="
                        Busy
                    "
                    (click)="ShowRejectDialog()"
                >
                    <mat-icon>close</mat-icon>
                    {{ Busy ? 'Please Wait...' : 'Reject' }}
                </button>
            </div>
        </div>

        <div>
            <button mat-button type="button" mat-dialog-close *ngIf="!Busy">
                Close
            </button>
        </div>
    </mat-dialog-actions>
    <!-- / ACTION -->
</form>
