<form
    ngNativeValidate
    fxLayout="column"
    class="dialog-content-wrapper"
    cdkDrag
    cdkDragRootElement=".cdk-overlay-pane"
    style="min-width: 500px;"
    autocomplete="off"
    (ngSubmit)="Submit()"
>
    <mat-toolbar cdkDragHandle matDialogTitle class="mat-primary m-0">
        <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">
                Issued {{ Request?.kode ? ' for ' + Request.kode : '' }}
            </span>
            <button
                mat-button
                type="button"
                class="mat-icon-button ml-24"
                mat-dialog-close
                aria-label="Close dialog"
                tabindex="-1"
                *ngIf="!Busy"
            >
                <mat-icon class="white-fg">close</mat-icon>
            </button>
        </div>
    </mat-toolbar>

    <div fxLayout="row" fxLayoutGap="10px" fxLayout.sm="column" class="m-0 p-24">

        <div fxLayout="column">
            
            <mat-form-field fxFlex="0 1 auto" appearance="outline" class="smallx" floatLabel="always">
                <mat-label>Issued Date</mat-label>
                <input matInput
                    type="text"
                    name="tanggal"
                    [placeholder]="'Contoh: ' + DateToday"
                    [(ngModel)]="form.tanggal"
                    [readonly]="form.is_detail"
                    mask="00/00/0000"
                    required
                    [tabindex]="form.tanggal ? '-1' : null"
                >
                <input 
                    type="hidden"
                    [matDatepicker]="tanggal"
                    name="t_tanggal"
                    [max]="maxDate"
                    [(ngModel)]="form.t_tanggal"
                    (ngModelChange)="setDate(form.t_tanggal, 'tanggal')"
                >
                <mat-datepicker-toggle matSuffix [for]="tanggal" tabindex="-1" *ngIf="!form.is_detail && form.verified != 1">
                    <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                </mat-datepicker-toggle>
                <mat-datepicker #tanggal></mat-datepicker>
            </mat-form-field>

            <!-- KETERANGAN -->
            <mat-form-field appearance="outline" floatLabel="always" fxFlex="0 1 auto" class="">
                <mat-label>Notes</mat-label>
                <textarea matInput
                    type="text"
                    placeholder="Notes for this Issued:"
                    name="notes"
                    [(ngModel)]="form.notes"
                    matTextareaAutosize 
                    [matAutosizeMinRows]="5"
                    [matAutosizeMaxRows]="8"
                    [readonly]="form.is_detail"
                    required
                ></textarea>
            </mat-form-field>
            <!-- / END : KETERANGAN -->

        </div>

        <mat-dialog-content fxLayout="column">
            <!-- MATERIALS -->
            <div class="mb-32" [fxHide]="Material?.length <= 0">
                <table
                    class="table table-responsive table-input table-small table-striped table-hover table-border-top"
                >
                    <thead>
                        <tr>
                            <th colspan="20" class="bold">
                                MATERIALS
                            </th>
                        </tr>
                        <tr>
                            <th width="10">
                                No.
                            </th>
                            <th width="75">
                                Code
                            </th>
                            <th width="300">
                                Item Name
                            </th>
                            <th width="125">
                                Qty. Request
                            </th>
                            <th width="125">
                                Storeloc
                            </th>
                            <th width="125">
                                Stock
                            </th>
                            <th width="125">
                                Qty. Issued
                            </th>
                            <th width="125">
                                Outstanding
                            </th>
                            <th width="50">
                                UOM
                            </th>
                            <th>
                                Remarks
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container
                            *ngFor="let item of Material; let i = index;"
                        >
                            <tr
                                *ngIf="
                                    item.id                               
                                "
                                nopadding
                            >
                                <td padding5 align="center">
                                    {{ i+1 }}
                                </td>
                                <td
                                    padding5
                                    style="white-space: nowrap !important;"
                                >
                                    {{ item.kode }}
                                </td>
                                <td padding5 style="position: relative;">
                                    {{ item.nama }}
                                </td>
                                <td>
                                    <input
                                        [disabled]="!item.id"
                                        type="text"
                                        autocomplete="off"
                                        maxlength="23"
                                        currencyMask
                                        name="material-qty_req-{{i}}"
                                        id="material-qty_req-{{i}}"
                                        [(ngModel)]="item.qty_req"
                                        [options]="
                                            item.in_decimal == 1 ? {
                                                prefix: '',
                                                allowNegative: false,
                                                thousands: '.',
                                                decimal: ',',
                                                precision: 2
                                            } : {
                                                prefix: '',
                                                allowNegative: false,
                                                thousands: '.',
                                                decimal: ',',
                                                precision: 0
                                            }
                                        "
                                        readonly
                                        tabindex="-1" 
                                    />
                                </td>
                                <td style="position: relative;" [class]="item.storeloc_list?.length <= 0 ? 'grey-900-bg' : ''">
                                    <input
                                        type="text"
                                        autocomplete="off"
                                        name="item-storeloc-{{i}}"
                                        id="item-storeloc-{{i}}"
                                        [(ngModel)]="item.storeloc_kode"
                                        [matAutocomplete]="acStoreloc"
                                        (ngModelChange)="!form.is_detail ? StorelocFilter(item.storeloc_kode, item, i) : null"
                                        (focus)="!form.is_detail && !item.storeloc ? StorelocFilter(item.storeloc_kode, item, i) : null"
                                        [tabindex]="item.storeloc || item.storeloc_list?.length <= 0 ? '-1' : ''"
                                        [readonly]="item.storeloc || item.storeloc_list?.length <= 0 || form.is_detail"
                                    />
                                    <button
                                        type="button"
                                        style="position: absolute; right: 0px;"
                                        mat-button
                                        *ngIf="
                                            item.storeloc && 
                                            !form.is_detail
                                        "
                                        matSuffix
                                        mat-icon-button
                                        aria-label="Clear"
                                        (click)="item.storeloc_kode = ''; StorelocFilter(item.storeloc_kode, item, i);"
                                        tabindex="-1"
                                    >
                                        <mat-icon>close</mat-icon>
                                    </button>
                                    <mat-autocomplete
                                        autoActiveFirstOption
                                        #acStoreloc="matAutocomplete"
                                        class="force-wrap ac-small"
                                    >
                                        <mat-option
                                            *ngFor="let store of item.storeloc_list"
                                            [value]="store.kode"
                                            (onSelectionChange)="StorelocSelect($event, item, store, i, 'material-qty_issued')"
                                        >
                                            <div>
                                                {{ store.nama }}
                                            </div>
                                            <div>
                                                <small class="text-bold">
                                                    {{ store.kode }}
                                                </small>
                                            </div>
                                        </mat-option>
                                    </mat-autocomplete>
                                </td>
                                <td [class]="item.stock > 0 ? 'primary-bg' : ''">
                                    <input
                                        [disabled]="!item.id"
                                        type="text"
                                        autocomplete="off"
                                        maxlength="23"
                                        currencyMask
                                        name="material-stock-{{i}}"
                                        id="material-stock-{{i}}"
                                        [(ngModel)]="item.stock"
                                        [options]="
                                            item.in_decimal == 1 ? {
                                                prefix: '',
                                                allowNegative: false,
                                                thousands: '.',
                                                decimal: ',',
                                                precision: 2
                                            } : {
                                                prefix: '',
                                                allowNegative: false,
                                                thousands: '.',
                                                decimal: ',',
                                                precision: 0
                                            }
                                        "
                                        readonly
                                        tabindex="-1" 
                                        [class]="item.stock > 0 ? 'grey-100-fg' : ''"
                                    />
                                </td>
                                <td>
                                    <input
                                        [disabled]="!item.id"
                                        type="text"
                                        autocomplete="off"
                                        maxlength="23"
                                        currencyMask
                                        name="material-qty_issued-{{i}}"
                                        id="material-qty_issued-{{i}}"
                                        [(ngModel)]="item.qty_issued"
                                        (ngModelChange)="Calculate(item)"
                                        [options]="
                                            item.in_decimal == 1 ? {
                                                prefix: '',
                                                allowNegative: false,
                                                thousands: '.',
                                                decimal: ',',
                                                precision: 2
                                            } : {
                                                prefix: '',
                                                allowNegative: false,
                                                thousands: '.',
                                                decimal: ',',
                                                precision: 0
                                            }
                                        "
                                        [readonly]="
                                            form.is_detail ||
                                            (
                                                form.verified == 1 && 
                                                form.approved == 1
                                            ) || 
                                            !item.storeloc
                                        "
                                    />
                                </td>
                                <td [class]="item.outstanding > 0 ? 'red-bg' : 'green-bg'">
                                    <input
                                        [disabled]="!item.id"
                                        type="text"
                                        autocomplete="off"
                                        maxlength="23"
                                        currencyMask
                                        name="material-outstanding-{{i}}"
                                        id="material-outstanding-{{i}}"
                                        [(ngModel)]="item.outstanding"
                                        [options]="
                                            item.in_decimal == 1 ? {
                                                prefix: '',
                                                allowNegative: false,
                                                thousands: '.',
                                                decimal: ',',
                                                precision: 2
                                            } : {
                                                prefix: '',
                                                allowNegative: false,
                                                thousands: '.',
                                                decimal: ',',
                                                precision: 0
                                            }
                                        "
                                        readonly
                                        tabindex="-1" 
                                        class="grey-100-fg"
                                    />
                                </td>
                                <td padding5 class="text-center">
                                    {{ item.satuan }}
                                </td>
                                <td *ngIf="!form.is_detail">
                                    <textarea
                                        type="text"
                                        placeholder="Remarks"
                                        id="remarks-{{i}}"
                                        name="remarks-{{i}}"
                                        [(ngModel)]="item.remarks"
                                        [readonly]="
                                            (
                                                form.is_detail && 
                                                Request[i].verified == 1 && 
                                                Request[i].approved == 1
                                            )
                                        "
                                        [tabindex]="item.qty_issued > 0 ? null: '-1'"
                                        [required]="item.qty_issued > 0"
                                    ></textarea>
                                </td>
                                <td *ngIf="form.is_detail" padding5>
                                    {{item.remarks}}
                                </td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
            </div>
            <!-- MATERIALS -->

            <!-- OTHERS -->
            <div [fxHide]="List?.length <= 0">
                <table
                    class="table table-responsive table-input table-small table-striped table-hover table-border-top"
                >
                    <thead>
                        <tr>
                            <th colspan="20" class="bold">
                                OTHERS
                            </th>
                        </tr>
                        <tr>
                            <th width="10">
                                No.
                            </th>
                            <th width="75">
                                Code
                            </th>
                            <th width="300">
                                Item Name
                            </th>
                            <th width="125">
                                Qty. Request
                            </th>
                            <th width="125">
                                Storeloc
                            </th>
                            <th width="125">
                                Stock
                            </th>
                            <th width="125">
                                Qty. Issued
                            </th>
                            <th width="125">
                                Outstanding
                            </th>
                            <th width="50">
                                UOM
                            </th>
                            <th>
                                Remarks
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of List; let i = index;">
                            <td class="text-center">
                                <div padding5>
                                    {{ i+1 }}
                                </div>
                            </td>
                            <td
                                padding5
                                style="white-space: nowrap !important;"
                            >
                                {{ item.kode }}
                            </td>
                            <!-- Input Name -->
                            <td
                                style="position: relative;"
                                padding5
                            >
                                {{ item.nama }}
                            </td>
                            <!-- / END : Input name  -->
                            <td>
                                <input
                                    [disabled]="!item.id"
                                    type="text"
                                    autocomplete="off"
                                    maxlength="23"
                                    currencyMask
                                    name="qty_req-{{i}}"
                                    id="qty_req-{{i}}"
                                    [(ngModel)]="item.qty_req"
                                    [required]="item.id"
                                    [options]="
                                    item.in_decimal == 1 ? {
                                        prefix: '',
                                        allowNegative: false,
                                        thousands: '.',
                                        decimal: ',',
                                        precision: 2
                                    } : {
                                        prefix: '',
                                        allowNegative: false,
                                        thousands: '.',
                                        decimal: ',',
                                        precision: 0
                                    }
                                    "
                                    readonly
                                    tabindex="-1"
                                />
                            </td>
                            <td style="position: relative;" [class]="item.storeloc_list?.length <= 0 ? 'grey-900-bg' : ''">
                                <input
                                    type="text"
                                    autocomplete="off"
                                    name="item-storeloc-list-{{i}}"
                                    id="item-storeloc-list-{{i}}"
                                    [(ngModel)]="item.storeloc_kode"
                                    [matAutocomplete]="acStoreloc"
                                    (ngModelChange)="!form.is_detail ? StorelocFilter(item.storeloc_kode, item, i) : null"
                                    (focus)="!form.is_detail && !item.storeloc ? StorelocFilter(item.storeloc_kode, item, i) : null"
                                    [tabindex]="item.storeloc || item.storeloc_list?.length <= 0 ? '-1' : ''"
                                    [readonly]="item.storeloc || item.storeloc_list?.length <= 0 || form.is_detail"
                                />
                                <button
                                    type="button"
                                    style="position: absolute; right: 0px;"
                                    mat-button
                                    *ngIf="item.storeloc"
                                    matSuffix
                                    mat-icon-button
                                    aria-label="Clear"
                                    (click)="item.storeloc_kode = ''; StorelocFilter(item.storeloc_kode, item, i);"
                                    tabindex="-1"
                                >
                                    <mat-icon>close</mat-icon>
                                </button>
                                <mat-autocomplete
                                    autoActiveFirstOption
                                    #acStoreloc="matAutocomplete"
                                    class="force-wrap ac-small"
                                >
                                    <mat-option
                                        *ngFor="let store of Storeloc"
                                        [value]="store.kode"
                                        (onSelectionChange)="StorelocSelect($event, item, store, i, 'list-qty_issued')"
                                    >
                                        <div>
                                            {{ store.nama }}
                                        </div>
                                        <div>
                                            <small class="text-bold">
                                                {{ store.kode }}
                                            </small>
                                        </div>
                                    </mat-option>
                                </mat-autocomplete>
                            </td>
                            <td [class]="item.stock > 0 ? 'primary-bg' : ''">
                                <input
                                    [disabled]="!item.id"
                                    type="text"
                                    autocomplete="off"
                                    maxlength="23"
                                    currencyMask
                                    name="list-stock-{{i}}"
                                    id="list-stock-{{i}}"
                                    [(ngModel)]="item.stock"
                                    [options]="
                                        item.in_decimal == 1 ? {
                                            prefix: '',
                                            allowNegative: false,
                                            thousands: '.',
                                            decimal: ',',
                                            precision: 2
                                        } : {
                                            prefix: '',
                                            allowNegative: false,
                                            thousands: '.',
                                            decimal: ',',
                                            precision: 0
                                        }
                                    "
                                    readonly
                                    tabindex="-1" 
                                    [class]="item.stock > 0 ? 'grey-100-fg' : ''"
                                />
                            </td>
                            <td>
                                <input
                                    [disabled]="!item.id"
                                    type="text"
                                    autocomplete="off"
                                    maxlength="23"
                                    currencyMask
                                    name="lit-qty_issued-{{i}}"
                                    id="list-qty_issued-{{i}}"
                                    [(ngModel)]="item.qty_issued"
                                    (ngModelChange)="Calculate(item)"
                                    [options]="
                                        item.in_decimal == 1 ? {
                                            prefix: '',
                                            allowNegative: false,
                                            thousands: '.',
                                            decimal: ',',
                                            precision: 2
                                        } : {
                                            prefix: '',
                                            allowNegative: false,
                                            thousands: '.',
                                            decimal: ',',
                                            precision: 0
                                        }
                                    "
                                    [readonly]="
                                        form.is_detail ||
                                        (
                                            form.verified == 1 && 
                                            form.approved == 1
                                        ) || 
                                        !item.storeloc
                                    "
                                />
                            </td>
                            <td [class]="item.outstanding > 0 ? 'red-bg' : 'green-bg'">
                                <input
                                    [disabled]="!item.id"
                                    type="text"
                                    autocomplete="off"
                                    maxlength="23"
                                    currencyMask
                                    name="outstanding-{{i}}"
                                    id="outstanding-{{i}}"
                                    [(ngModel)]="item.outstanding"
                                    [required]="item.id"
                                    [options]="
                                    item.in_decimal == 1 ? {
                                        prefix: '',
                                        allowNegative: false,
                                        thousands: '.',
                                        decimal: ',',
                                        precision: 2
                                    } : {
                                        prefix: '',
                                        allowNegative: false,
                                        thousands: '.',
                                        decimal: ',',
                                        precision: 0
                                    }
                                    "
                                    readonly
                                    tabindex="-1"
                                    class="grey-100-fg"
                                />
                            </td>
                            <td padding5 class="text-center">
                                {{ item.satuan }}
                            </td>
                            <td *ngIf="!form.is_detail">
                                <textarea
                                    type="text"
                                    placeholder="Remarks"
                                    id="other-remarks-{{i}}"
                                    name="other-remarks-{{i}}"
                                    [(ngModel)]="item.remarks"
                                    [readonly]="
                                        (
                                            form.is_detail && 
                                            form.verified == 1 && 
                                            form.approved == 1
                                        )
                                    "
                                    [tabindex]="item.qty_issued > 0 ? null: '-1'"
                                    [required]="item.qty_issued > 0"
                                ></textarea>
                            </td>
                            <td *ngIf="form.is_detail" padding5>
                                {{item.remarks}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- END OTHERS -->

        </mat-dialog-content>

    </div>

    <!-- ACTIONS -->
    <mat-dialog-actions
        class="p-16 m-0"
        fxLayout="row"
        fxLayoutAlign="end"
        fxLayoutGap="10px"
    >
        <div fxFlex="1 1 auto" fxLayout="row">

            <button
                *ngIf="!form.is_detail"
                type="submit"
                mat-button
                color="primary"
                [disabled]="!ReadytoSave"
            >
                <mat-icon>save</mat-icon>
                {{ Busy ? 'Please Wait...' : 'Save' }}
            </button>

            <button
                *ngIf="form.is_detail"
                type="button"
                mat-button
                color="primary"
                [disabled]="
                    Busy 
                "
                (click)="ShowPrintDialog()"
            >
                <mat-icon>print</mat-icon>

                {{ Busy ? 'Please Wait...' : 'Print Preview' }}
            </button>

            <mat-hint class="red-fg p-8" *ngIf="!ReadytoSave && !form.is_detail">
                Please fill the <strong>qty. issued</strong> to save this form.
            </mat-hint>

            <div *ngIf="
                form.is_detail && 
                form.verified != 1
            ">
                <button
                    *ngIf="perm.edit_deliver"
                    type="button"
                    mat-button
                    (click)="Edit()"
                >
                    <mat-icon>create</mat-icon>
                    Edit
                </button>
                <button
                    *ngIf="
                        perm.verify_deliver
                    "
                    type="button"
                    mat-button
                    color="primary"
                    (click)="Verify();"
                >
                    <mat-icon>check</mat-icon>
                    Verify
                </button>
            </div>

            <div
                *ngIf="form.is_detail && perm.approve_deliver && form.verified == 1 && form.approved != 1"
            >
                <button
                    type="button"
                    mat-button
                    color="primary"
                    [disabled]="
                        Busy
                    "
                    (click)="Approve()"
                >
                    <mat-icon>check</mat-icon>
                    {{ Busy ? 'Please Wait...' : 'Approve' }}
                </button>

                <button
                    type="button"
                    mat-button
                    color="warn"
                    [disabled]="
                        Busy
                    "
                    (click)="Reject()"
                >
                    <mat-icon>close</mat-icon>
                    {{ Busy ? 'Please Wait...' : 'Reject' }}
                </button>
            </div>

            <!-- APPROVE BY PRODUKSI -->
            <div
                *ngIf="form.is_detail && perm.approve2_deliver && form.verified == 1 && form.approved == 1 && form.approved2 != 1"
            >
                <button
                    type="button"
                    mat-button
                    color="primary"
                    [disabled]="
                        Busy
                    "
                    (click)="Approve2()"
                >
                    <mat-icon>check</mat-icon>
                    {{ Busy ? 'Please Wait...' : 'Approve & Receive Materials' }}
                </button>

                <button
                    type="button"
                    mat-button
                    color="warn"
                    [disabled]="
                        Busy
                    "
                    (click)="Reject()"
                >
                    <mat-icon>close</mat-icon>
                    {{ Busy ? 'Please Wait...' : 'Reject' }}
                </button>
            </div>
            <!-- / END : APPROVE BY PRODUKSI -->

        </div>

        <div>
            <button *ngIf="!Busy" type="button" mat-button mat-dialog-close>
                <mat-icon>close</mat-icon>
                Close
            </button>
        </div>

    </mat-dialog-actions>

</form>