<form
    ngNativeValidate
    (ngSubmit)="Simpan()"
    class="dialog-content-wrapper"
    cdkDrag
    cdkDragRootElement=".cdk-overlay-pane"
    autocomplete="off"
    aria-autocomplete="none"
    style="min-width: 500px;"
>
    <mat-toolbar cdkDragHandle matDialogTitle class="mat-primary m-0">
        <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title" *ngIf="form.id == 'add'">
                Add New {{ Com.name }}
            </span>
            <span
                class="title dialog-title"
                *ngIf="!form.is_detail && form.id != 'add'"
            >
                Edit {{ Com.name }}
            </span>
            <span
                class="title dialog-title"
                *ngIf="form.id != 'add' && form.is_detail"
            >
                Detail {{ Com.name }}
            </span>
            <button
                mat-button
                type="button"
                class="mat-icon-button ml-24"
                mat-dialog-close
                aria-label="Close dialog"
                tabindex="-1"
                *ngIf="!Busy"
            >
                <mat-icon class="white-fg">close</mat-icon>
            </button>
        </div>
    </mat-toolbar>

    <!-- CONTENT -->
    <mat-dialog-content
        fxLayout="column"
        fxFlex="1 1 auto"
        fxLayout.sm="column"
        class="p-24 m-0"
    >
        <mat-form-field appearance="outline" class="small">
            <mat-label>Company</mat-label>
            <input
                matInput
                type="text"
                placeholder="Company"
                name="company_nama"
                [(ngModel)]="form.company_nama"
                readonly
            />
        </mat-form-field>

        <div *ngIf="form.company" fxLayout="column" fxFlex="1 1 auto">
            <mat-form-field appearance="outline" class="small">
                <mat-label>Doc Source</mat-label>
                <input
                    matInput
                    type="text"
                    placeholder="Doc Source"
                    name="doc_source"
                    [(ngModel)]="form.doc_source"
                    readonly
                />
            </mat-form-field>

            <mat-form-field appearance="outline" class="small">
                <mat-label>Doc Name</mat-label>
                <input
                    matInput
                    type="text"
                    placeholder="Doc Name"
                    name="doc_nama"
                    [(ngModel)]="form.doc_nama"
                    readonly
                />
            </mat-form-field>

            <mat-form-field appearance="outline" class="small">
                <mat-label>Account</mat-label>
                <input
                    matInput
                    type="text"
                    placeholder="Account"
                    name="account"
                    [(ngModel)]="form.coa_name"
                    [matAutocomplete]="acAccount"
                    (ngModelChange)="COAFilter(form.coa_name)"
                    (focus)="COAFilter(form.account)"
                    [readonly]="form.is_detail || form.coa"
                    required
                />
                <button
                    mat-button
                    type="button"
                    *ngIf="form.coa && !form.is_detail"
                    matSuffix
                    mat-icon-button
                    aria-label="Clear"
                    (click)="COARemove();"
                    tabindex="-1"
                >
                    <mat-icon>close</mat-icon>
                </button>
                <mat-autocomplete
                    #acAccount="matAutocomplete"
                    class="force-wrap ac-small"
                >
                    <mat-option
                        *ngFor="let item of COA"
                        [value]="item.kode + ' - ' + item.nama"
                        (onSelectionChange)="COASelect($event, item)"
                    >
                        {{item.kode}} - {{ item.nama }}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </div>
    </mat-dialog-content>
    <!-- / CONTENT -->

    <!-- ACTION -->
    <mat-dialog-actions class="p-16 m-0" fxLayout="row" fxLayoutAlign="end">
        <div fxFlex="1 1 auto">
            <button
                *ngIf="!form.is_detail"
                type="submit"
                mat-raised-button
                color="primary"
                [disabled]="Busy"
            >
                <mat-icon>save</mat-icon>
                {{ Busy ? 'Please Wait...' : 'Save' }}
            </button>

            <button
                *ngIf="form.is_detail && perm.edit"
                type="button"
                mat-button
                (click)="Edit();"
            >
                <mat-icon>create</mat-icon>
                Edit
            </button>
        </div>

        <div>
            <button mat-button type="button" mat-dialog-close *ngIf="!Busy">
                Close
            </button>
        </div>
    </mat-dialog-actions>
    <!-- / ACTION -->
</form>
