<div fxLayout="column" class="dialog-content-wrapper" cdkDrag cdkDragRootElement=".cdk-overlay-pane">

    <mat-toolbar cdkDragHandle matDialogTitle class="mat-primary m-0">
        <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">
                Detail Goods Issued
            </span>
            <button 
                mat-button 
                type="button"
                class="mat-icon-button ml-24"
                mat-dialog-close
                aria-label="Close dialog"
                tabindex="-1"
                *ngIf="!Busy"
            >
                <mat-icon class="white-fg">close</mat-icon>
            </button>
        </div>
    </mat-toolbar>

     <!-- CONTENT -->
     <mat-dialog-content fxLayout="column" class="m-0">

        <div class="print-area" fxLayout="column" fxFlex="0 1 auto" *ngIf="form.gi">

            <table class="table table-bordered table-input table-input-border">
                <thead class="no-bg" padding5>
                    <tr>
                        <td width="100" class="text-center" rowspan="4" style="vertical-align: middle!important;">
                            <img src="/assets/logo/{{ form.company_abbr }}.png">
                            <!-- <div>
                                <img src="/assets/logo/{{ form.company_abbr }}.png">
                            </div>
                            <div style="margin-top: 2px;">
                                <img src="/assets/memberofcbi.png" height="18">
                            </div> -->
                            <!-- <div>
                                <img src="/assets/logo/CBI.png">
                            </div> -->
                        </td>
                        <td class="text-center" colspan="4">
                            <!-- <div class="h3">
                                {{ form.company_nama | uppercase }}
                            </div>
                            <div>
                                CITRA BORNEO INDAH GROUP
                            </div> -->

                            <div class="h3">
                                {{ form.business_unit | uppercase }}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="3" class="text-center" style="vertical-align: middle!important;">
                            <div class="h4">
                                <!-- MATERIAL REQUESTION & ISSUING (MR&I) / 191021 -->
                                GOODS ISSUED (GI)
                            </div>
                        </td>
                        <td width="30">
                            NO
                        </td>
                        <td width="125">
                            <!-- FIP-SCM/WHS-01-01 / 191021 -->
                            <!-- FIP-SCM/WHS-01-03 -->
                            FIP-SCM/WHS-02-03
                        </td>
                    </tr>
                    <tr>
                        <td>
                            REVISION
                        </td>
                        <td>
                            00
                        </td>
                    </tr>
                    <tr>
                        <td>
                            EFFECTIVE
                        </td>
                        <td>
                            <!-- 01-06-2018 -->
                            28-10-2019
                        </td>
                    </tr>
                </thead>
            </table>

            <div class="h4 text-center text-bold" style="margin-bottom: 10px;">
                NO. {{ item.kode }}
            </div>

            <div class="mt-0">
                <table class="table table-responsive table-input table-small table-striped table-hover table-border-top">
                    <thead>
                        <tr>
                            <th width="10">
                                No.
                            </th>
                            <th width="75">
                                CODE
                            </th>
                            <th>
                                DESCRIPTION
                            </th>
                            <th width="50">
                                UOM
                            </th>
                            <th width="100">
                                QTY. MR
                            </th>
                            <th width="100">
                                QTY. GI
                            </th>
                            <th>
                                REMARKS
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr padding5 *ngFor="let item of Data; let i = index;">
                            <td class="text-center">
                                {{ i+1 }}
                            </td>
                            <td>
                                {{ item.kode }}
                            </td>
                            <td>
                                {{ item.nama }}
                            </td>
                            <td class="text-center">
                                {{ item.satuan }}
                            </td>
                            <td nopadding style="min-width: 75px;">
                                <input 
                                    [disabled]="!item.id"
                                    type="text" 
                                    autocomplete="off"
                                    maxlength="23"
                                    currencyMask
                                    name="qty_mr-{{i}}"
                                    id="qty_mr-{{i}}"
                                    tabindex="-1"
                                    [ngModel]="item.qty_mr"
                                    [required]="i == 0 || item.id"
                                    [options]="
                                    item.in_decimal == 1 ? {
                                        prefix: '',
                                        allowNegative: false,
                                        thousands: '.',
                                        decimal: ',',
                                        precision: 2
                                    } : {
                                        prefix: '',
                                        allowNegative: false,
                                        thousands: '.',
                                        decimal: ',',
                                        precision: 0
                                    }
                                    "
                                    readonly
                                    tabindex="-1"
                                >
                            </td>
                            <td nopadding style="min-width: 75px;">
                                <input 
                                    [disabled]="!item.id"
                                    type="text" 
                                    autocomplete="off"
                                    maxlength="23"
                                    currencyMask
                                    name="qty_gi-{{i}}"
                                    id="qty_gi-{{i}}"
                                    tabindex="-1"
                                    [ngModel]="item.qty_gi"
                                    [required]="i == 0 || item.id"
                                    [options]="
                                    item.in_decimal == 1 ? {
                                        prefix: '',
                                        allowNegative: false,
                                        thousands: '.',
                                        decimal: ',',
                                        precision: 2
                                    } : {
                                        prefix: '',
                                        allowNegative: false,
                                        thousands: '.',
                                        decimal: ',',
                                        precision: 0
                                    }
                                    "
                                    readonly
                                    tabindex="-1"
                                >
                            </td>
                            <td>
                                {{ item.remarks }}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="10">&nbsp;</td>
                        </tr>
                    </tbody>
                    <tfoot class="table-input-noborder">
                        <tr>
                            <td colspan="5">

                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>

            <!-- SIGNATURES -->
            <div fxFlex="0 1 auto" class="mt-0" style="margin-top: -5px!important;">
                <table class="table table-input table-small table-noborder-top">
                    <tbody>
                        <tr padding5 class="text-center">
                            <td width="20%">
                                REQUESTED BY
                            </td>
                            <td width="20%">
                                CHECKED BY
                            </td>
                            <td width="20%">
                                APPROVED BY
                            </td>
                            <td width="20%">
                                ISSUED BY
                            </td>
                            <td width="20%">
                                RECEIVED BY
                            </td>
                        </tr>
                        <tr padding5>
                            <td class="text-center" style="vertical-align: middle!important;">
                                <div>
                                    {{ form.create_by | uppercase }}
                                </div>
                                <div>
                                    <small>
                                        {{ form.create_date }}
                                    </small>
                                </div>
                            </td>
                            <td class="text-center" style="vertical-align: middle!important;">
                                <div>
                                    {{ form.approved_by | uppercase }}
                                </div>
                                <div>
                                    <small>
                                        {{ form.approved_date }}
                                    </small>
                                </div>
                            </td>
                            <td class="text-center" style="vertical-align: middle!important;">
                                <div>
                                    {{ form.processed_by | uppercase }}
                                </div>
                                <div>
                                    <small>
                                        {{ form.processed_date }}
                                    </small>
                                </div>
                            </td>
                            <td class="text-center" style="vertical-align: middle!important;">
                                <div>
                                    {{ item.issued_by | uppercase }}
                                </div>
                                <div>
                                    <small>
                                        {{ item.issued_date }}
                                    </small>
                                </div>
                            </td>
                            <td>
                                <div style="height: 40px;">
                                    &nbsp;
                                </div>
                            </td>
                        </tr>
                        <tr padding5 class="text-center">
                            <td>
                                USER
                            </td>
                            <td>
                                MANAGER
                            </td>
                            <td>
                                MANAGER (SCM)
                            </td>
                            <td>
                                STORE KEEPER
                            </td>
                            <td>
                                USER
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- / SIGNATURES -->

            <!-- NOTES -->
            <div fxFlex="1 1 auto" class="mt-0" style="margin-top: -5px!important;">
                <table class="table table-input table-noborder-top">
                    <tr padding5>
                        <td>
                            <div style="float: left; margin-right: 10px;">
                                <small class="text-bold">REQUEST NOTE:</small>
                            </div>
                            <div style="min-height: 30px;">
                                {{ form.note }}
                            </div>
                        </td>
                    </tr>
                    <tr padding5>
                        <td>
                            <div style="float: left; margin-right: 10px;">
                                <small class="text-bold">ISSUING NOTE:</small>
                            </div>
                            <div style="min-height: 30px;">
                                {{ item.remarks }}
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <!-- / END : NOTES -->

        </div>
    </mat-dialog-content>

    <!-- ACTIONS -->
    <mat-dialog-actions class="p-16 m-0" fxLayout="row" fxLayoutAlign="end" fxLayoutGap="10px">

        <div fxFlex="1 1 auto" fxLayout="row">
            <button 
                type="button" 
                mat-button 
                color="primary" 
                [disabled]="
                    WaitPrint || 
                    Busy
                " 
                (click)="Print()"
            >
                <mat-icon>print</mat-icon>
                Print Goods Issued
            </button> 
        </div>

        <div>
            <button 
                *ngIf="!Busy"
                type="button" 
                mat-button 
                mat-dialog-close
            >
                <mat-icon>close</mat-icon>
                Close
            </button>
        </div>
    
    </mat-dialog-actions>
    <!-- / ACTIONS -->

</div>