<div fxFlex="1 1 auto" fxLayout="column">
    <mat-card>
        <mat-card-title>
            JO PROGRES
        </mat-card-title>
        <table class="table table-hover table-responsive">
            <thead>
                <th class="text-center">
                    No.
                </th>
                <th class="text-center">
                    Code
                </th>
                <th class="text-center">
                    Target
                </th>
                <th class="text-center">
                    Progres
                </th>
            </thead>
            <tbody>
                <ng-container *ngFor="let item of Data; let i = index">
                    <tr *ngIf="item"> 
                        <td class="text-center">
                            {{ i + 1 }}
                        </td>
                        <td>
                            {{ item.kode }}
                        </td>
                        <td align="right">
                            {{ item.qty }}
                        </td>
                        <td align="right">
                            {{ item.progres }} %
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </mat-card>
</div>
