<form
    ngNativeValidate
    (ngSubmit)="Simpan()"
    class="dialog-content-wrapper"
    cdkDrag
    cdkDragRootElement=".cdk-overlay-pane"
    autocomplete="off"
    aria-autocomplete="none"
    style="min-width: 500px;"
>
    <mat-toolbar cdkDragHandle matDialogTitle class="mat-primary m-0">
        <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title" *ngIf="form.id == 'add'">
                Add New {{ Com.name }}
            </span>
            <span class="title dialog-title" *ngIf="form.id != 'add'">
                {{ Com.title }}
            </span>
            <button
                mat-button
                type="button"
                class="mat-icon-button ml-24"
                mat-dialog-close
                aria-label="Close dialog"
                tabindex="-1"
                *ngIf="!Busy"
            >
                <mat-icon class="white-fg">close</mat-icon>
            </button>
        </div>
    </mat-toolbar>

    <!-- CONTENT -->
    <div
        fxLayout="row"
        fxLayout.sm="column"
        class="p-24 m-0"
        fxLayoutGap="10px"
    >
        <!-- LEFT -->
        <div fxLayout="column" fxFlex="1 1 auto">
            <!-- Company -->
            <mat-form-field appearance="outline" class="small">
                <mat-label>Company</mat-label>
                <input
                    matInput
                    type="text"
                    placeholder="Company"
                    name="company_nama"
                    id="company_nama"
                    [(ngModel)]="form.company_nama"
                    [matAutocomplete]="acCompany"
                    (ngModelChange)="CompanyFilter()"
                    [tabindex]="form.id != 'add' || CompanyLen == 1 ? '-1' : ''"
                    [readonly]="CompanyLen == 1 || form.is_detail || form.id != 'add' || form.company"
                    required
                />
                <button
                    mat-button
                    type="button"
                    *ngIf="form.company && form.id == 'add' && CompanyLen != 1"
                    matSuffix
                    mat-icon-button
                    aria-label="Clear"
                    (click)="CompanyRemove();"
                    tabindex="-1"
                >
                    <mat-icon>close</mat-icon>
                </button>
                <mat-autocomplete
                    autoActiveFirstOption
                    #acCompany="matAutocomplete"
                    class="force-wrap ac-small"
                >
                    <mat-option
                        *ngFor="let item of Company"
                        [value]="item.nama"
                        (onSelectionChange)="CompanySelect($event, item)"
                    >
                        {{ item.nama }}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
            <!-- / Company -->

            <mat-form-field
                appearance="outline"
                fxFlex="1 1 auto"
                *ngIf="form.company"
                class="small"
            >
                <mat-label>Date</mat-label>
                <input
                    matInput
                    name="tanggal"
                    placeholder="Please set Transfer Date"
                    [(ngModel)]="form.tanggal"
                    (ngModelChange)="FocusTo('[name=storeloc_nama]')"
                    required
                    [matDatepicker]="tanggal"
                    [min]="minDate"
                    [max]="maxDate"
                    (focus)="tanggal.open()"
                    (click)="tanggal.open()"
                    [disabled]="form.is_detail"
                    readonly
                    style="
                        font-size: 14px !important;
                        color: #000 !important;
                        padding: 0px !important;
                    "
                />
                <mat-datepicker #tanggal></mat-datepicker>
            </mat-form-field>

            <!-- STORE -->
            <mat-form-field
                fxFlex="0 1 auto"
                *ngIf="form.tanggal"
                appearance="outline"
                class="small"
            >
                <mat-label>Storage Location</mat-label>
                <input
                    matInput
                    type="text"
                    placeholder="Storage Location"
                    name="storeloc_nama"
                    id="storeloc_nama"
                    [(ngModel)]="form.storeloc_nama"
                    [matAutocomplete]="acStore"
                    (ngModelChange)="StoreFilter()"
                    [tabindex]="form.id != 'add' ? '-1' : ''"
                    [readonly]="form.is_detail || form.id != 'add' || form.storeloc"
                    required
                />
                <button
                    mat-button
                    type="button"
                    *ngIf="form.storeloc && form.id == 'add'"
                    matSuffix
                    mat-icon-button
                    aria-label="Clear"
                    (click)="StoreRemove()"
                    tabindex="-1"
                >
                    <mat-icon>close</mat-icon>
                </button>
                <mat-autocomplete
                    autoActiveFirstOption
                    #acStore="matAutocomplete"
                    class="force-wrap ac-small"
                >
                    <mat-option
                        *ngFor="let item of Store"
                        [value]="item.nama"
                        (onSelectionChange)="StoreSelect($event, item)"
                    >
                        {{ item.kode }}: {{ item.nama }}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
            <!-- / STORE -->

            <ng-container *ngIf="form.company && form.storeloc">
                <!-- <div fxLayout="column" fxFlex="1 1 auto" class="mb-24">
                    <mat-checkbox
                        [checked]="form.ad_qty == 1"
                        color="primary"
                        name="adj_qty"
                        [(ngModel)]="form.adj_qty"
                        [disabled]="form.is_detail"
                    >
                        Adjust Qty
                    </mat-checkbox>
                    <mat-checkbox
                        [checked]="form.adj_value == 1"
                        color="primary"
                        name="adj_value"
                        [(ngModel)]="form.adj_value"
                        [disabled]="form.is_detail"
                    >
                        Adjust Value
                    </mat-checkbox>
                </div> -->

                <!-- REMARK -->
                <mat-form-field
                    fxFlex="1 1 auto"
                    appearance="outline"
                    class="small"
                >
                    <mat-label>Remarks</mat-label>
                    <textarea
                        matInput
                        type="text"
                        placeholder="Remarks"
                        name="remarks"
                        required
                        [(ngModel)]="form.remarks"
                        matTextareaAutosize
                        [matAutosizeMinRows]="5"
                        [matAutosizeMaxRows]="8"
                        [readonly]="form.is_detail"
                    ></textarea>
                </mat-form-field>
                <!-- / REMARK -->
            </ng-container>
        </div>
        <!-- / END : LEFT -->

        <!-- RIGHT -->
        <mat-dialog-content
            *ngIf="
                form.company && 
                form.storeloc
            "
        >
            <div *ngIf="form.company && form.storeloc && form.remarks">
                <table
                    class="table table-responsive table-border-top table-input table-small table-hover"
                >
                    <thead>
                        <tr>
                            <th width="10">
                                <div *ngIf="!form.is_detail">
                                    <mat-icon color="warn">delete</mat-icon>
                                </div>
                                <div *ngIf="form.is_detail">
                                    No.
                                </div>
                            </th>
                            <th width="300">
                                Item Name
                            </th>
                            <th width="75">
                                Item Code
                            </th>
                            <th width="50">
                                UOM
                            </th>
                            <th width="100">
                                Unit Price
                            </th>
                            <th width="100">
                                Debit (+)
                            </th>
                            <th width="100">
                                Credit (-)
                            </th>
                            <!-- <ng-container *ngIf="form.adj_qty == 1">
                                <th width="100">
                                    Adj. / Actual Stock
                                </th>
                                <th width="100">
                                    Differences
                                </th>
                            </ng-container>
                            <ng-container *ngIf="form.adj_value == 1">
                                <th width="150">
                                    Current Value
                                </th>
                                <th width="150">
                                    Adj. / Actual Value
                                </th>
                                <th width="150">
                                    Differences
                                </th>
                            </ng-container>
                            <th>
                                COA Code
                            </th>
                            <th width="250">
                                COA Description
                            </th> -->
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of List; let i = index;">
                            <td class="text-center">
                                <div *ngIf="!form.is_detail">
                                    <button
                                        type="button"
                                        mat-icon-button
                                        (click)="DeleteList(i)"
                                        *ngIf="
                                                List?.length > 1 && 
                                                item.id
                                            "
                                        tabindex="-1"
                                    >
                                        <mat-icon class="red-fg"
                                            >close</mat-icon
                                        >
                                    </button>
                                </div>
                                <div *ngIf="form.is_detail" padding5>
                                    {{ i+1 }}
                                </div>
                            </td>
                            <td style="position: relative;">
                                <textarea
                                    matInput
                                    placeholder="Item Name"
                                    id="nama-{{i}}"
                                    name="nama-{{i}}"
                                    [(ngModel)]="item.nama"
                                    [required]="i == 0"
                                    [matAutocomplete]="acItem"
                                    (ngModelChange)="ItemFilter(item.nama, i)"
                                    [readonly]="form.is_detail || item.id"
                                    [tabindex]="item.id ? '-1' : null"
                                    matTextareaAutosize
                                    [matAutosizeMinRows]="2"
                                ></textarea>
                                <mat-autocomplete
                                    autoActiveFirstOption
                                    #acItem="matAutocomplete"
                                    class="force-wrap ac-small"
                                >
                                    <mat-option
                                        *ngFor="let item of Item"
                                        (onSelectionChange)="ItemSelect($event, item, i)"
                                        [value]="item.nama"
                                    >
                                        <sup
                                            ><strong class="primary-fg"
                                                >{{ item.kode }}</strong
                                            ></sup
                                        >
                                        {{ item.nama }}
                                    </mat-option>
                                </mat-autocomplete>
                                <div
                                    *ngIf="WaitItem[i]"
                                    style="
                                        position: absolute;
                                        right: 0px;
                                        top: 0px;
                                    "
                                >
                                    <mat-spinner
                                        diameter="20"
                                        strokeWidth="2"
                                        color="error"
                                        style="margin-top: 5px;"
                                    ></mat-spinner>
                                </div>
                            </td>
                            <td
                                padding5
                                style="white-space: nowrap !important;"
                            >
                                {{ item.kode }}
                            </td>
                            <td padding5 class="text-center">
                                {{ item.satuan }}
                            </td>

                            <td>
                                <input
                                    [disabled]="!item.id"
                                    type="text"
                                    autocomplete="off"
                                    maxlength="25"
                                    currencyMask
                                    name="price-{{i}}"
                                    id="price-{{i}}"
                                    [(ngModel)]="item.price"
                                    [required]="i == 0 || item.id"
                                    [options]="
                                    item.in_decimal == 1 ? {
                                        prefix: '',
                                        allowNegative: false,
                                        thousands: '.',
                                        decimal: ',',
                                        precision: 2
                                    } : {
                                        prefix: '',
                                        allowNegative: false,
                                        thousands: '.',
                                        decimal: ',',
                                        precision: 0
                                    }
                                    "
                                    [readonly]="!item.id || form.is_detail"
                                />
                            </td>

                            <td nopadding>
                                <input
                                    type="text"
                                    autocomplete="off"
                                    maxlength="23"
                                    currencyMask
                                    [required]="!item.credit"
                                    name="debit-{{i}}"
                                    id="debit-{{i}}"
                                    [(ngModel)]="item.debit"
                                    [options]="
                                    item.in_decimal == 1 ? {
                                        prefix: '',
                                        allowNegative: false,
                                        thousands: '.',
                                        decimal: ',',
                                        precision: 2
                                    } : {
                                        prefix: '',
                                        allowNegative: false,
                                        thousands: '.',
                                        decimal: ',',
                                        precision: 2
                                    }
                                    "
                                    [readonly]="!item.id || form.is_detail || item.credit > 0"
                                    [class]="item.credit > 0 ? 'primary-bg' : ''"
                                />
                            </td>
                            <td nopadding>
                                <input
                                    type="text"
                                    autocomplete="off"
                                    maxlength="23"
                                    currencyMask
                                    [required]="!item.debit"
                                    name="credit-{{i}}"
                                    id="credit-{{i}}"
                                    [(ngModel)]="item.credit"
                                    [options]="
                                    item.in_decimal == 1 ? {
                                        prefix: '',
                                        allowNegative: false,
                                        thousands: '.',
                                        decimal: ',',
                                        precision: 2
                                    } : {
                                        prefix: '',
                                        allowNegative: false,
                                        thousands: '.',
                                        decimal: ',',
                                        precision: 2
                                    }
                                    "
                                    [readonly]="!item.id || form.is_detail || item.debit > 0"
                                    [class]="item.debit > 0 ? 'primary-bg' : ''"
                                />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </mat-dialog-content>
        <!-- / END : RIGHT -->
    </div>
    <!-- / END : CONTENT -->

    <!-- ACTION -->
    <mat-dialog-actions class="p-16 m-0" fxLayout="row" fxLayoutAlign="end">
        <div fxFlex="1 1 auto">
            <button
                *ngIf="!form.is_detail"
                type="submit"
                mat-raised-button
                color="primary"
                [disabled]="
                    Busy || 
                    !form.company || 
                    !form.storeloc || 
                    !form.remarks || 
                    !List[0].id
                "
            >
                <mat-icon>save</mat-icon>
                {{ Busy ? 'Please Wait...' : 'Save' }}
            </button>

            <button
                *ngIf="
                    form.is_detail && 
                    form.verified != 1
                "
                type="button"
                mat-button
                (click)="Edit();"
            >
                <mat-icon>create</mat-icon>
                Edit
            </button>

            <button
                *ngIf="
                    form.is_detail && 
                    form.verified != 1
                "
                type="button"
                mat-button
                color="primary"
                (click)="Verify();"
            >
                <mat-icon>check</mat-icon>
                Verify
            </button>

            <button
                *ngIf="form.is_detail"
                type="button"
                mat-button
                color="primary"
                [disabled]="
                    Busy
                "
                (click)="ShowPrintDialog()"
            >
                <mat-icon>print</mat-icon>
                Print Preview
            </button>

            <button
                *ngIf="
                    form.is_detail && 
                    form.verified == 1 &&
                    form.approved != 1
                "
                type="button"
                mat-button
                color="primary"
                (click)="Approve();"
            >
                <mat-icon>check</mat-icon>
                Approve
            </button>
        </div>

        <div>
            <button *ngIf="!Busy" type="button" mat-button mat-dialog-close>
                <mat-icon>close</mat-icon>
                Close
            </button>
        </div>
    </mat-dialog-actions>
    <!-- / END : ACTION -->
</form>
