<form
    ngNativeValidate
    fxLayout="column"
    class="dialog-content-wrapper"
    cdkDrag
    cdkDragRootElement=".cdk-overlay-pane"
    style="min-width: 500px;"
    autocomplete="off"
    (ngSubmit)="Simpan()"
>
    <mat-toolbar cdkDragHandle matDialogTitle class="mat-primary m-0">
        <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">
                Template {{Com.title}}
            </span>
            <button
                mat-button
                type="button"
                class="mat-icon-button ml-24"
                mat-dialog-close
                aria-label="Close dialog"
                tabindex="-1"
                *ngIf="!Busy"
            >
                <mat-icon class="white-fg">close</mat-icon>
            </button>
        </div>
    </mat-toolbar>

    <mat-dialog-content
        fxLayout="row"
        fxLayout.sm="column"
        fxLayoutGap="10px"
        class="m-0 p-24"
    >
        <!-- RIGHT FORM -->
        <mat-dialog-content fxFlex="1 1 auto" fxLayout="column">
            <!-- Company -->
            <!-- <mat-form-field appearance="outline" class="small">
                <mat-label>Company</mat-label>
                <input matInput 
                    type="text" 
                    placeholder="Company" 
                    name="company_nama" 
                    id="company_nama"
                    [(ngModel)]="form.company_nama"
                    required
                    [matAutocomplete]="acCompany"
                    (ngModelChange)="CompanyFilter()"
                    [readonly]="CompanyLen == 1 || form.is_detail || form.id != 'add'"
                    [tabindex]="form.id != 'add' || CompanyLen == 1 ? '-1' : ''"
                >
                <button type="button" mat-button *ngIf="form.company && form.id == 'add'" matSuffix mat-icon-button aria-label="Clear" (click)="CompanyRemove();" tabindex="-1">
                    <mat-icon>close</mat-icon>
                </button>
                <mat-autocomplete #acCompany="matAutocomplete" class="force-wrap">
                    <mat-option *ngFor="let item of Company" [value]="item.nama" (onSelectionChange)="CompanySelect($event, item)">
                         {{ item.nama }}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
              Company -->

            <!-- STORE -->
            <!-- <mat-form-field fxFlex="0 1 auto" *ngIf="form.company" appearance="outline" class="small">
                <mat-label>Storage Location</mat-label>
                <input matInput 
                    type="text" 
                    placeholder="Storage Location" 
                    name="storeloc_nama" 
                    id="storeloc_nama"
                    [(ngModel)]="form.storeloc_nama"
                    required
                    [matAutocomplete]="acStore"
                    (ngModelChange)="StoreFilter()"
                    [readonly]="form.is_detail || form.id != 'add'"
                    [tabindex]="form.id != 'add' ? '-1' : ''"
                >
                <button type="button" mat-button *ngIf="form.storeloc && form.id == 'add'" matSuffix mat-icon-button aria-label="Clear" (click)="StoreRemove()" tabindex="-1">
                    <mat-icon>close</mat-icon>
                </button>
                <mat-autocomplete #acStore="matAutocomplete" class="force-wrap ac-small">
                    <mat-option *ngFor="let item of Store" [value]="item.nama" (onSelectionChange)="StoreSelect($event, item)">
                        {{ item.kode }}: 
                        {{ item.nama }}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field> -->
            <!-- / STORE -->

            <!-- REMARK -->
            <!-- <mat-form-field *ngIf="form.company && form.storeloc" fxFlex="1 1 auto" appearance="outline" class="small">
                <mat-label>BOM Template Name</mat-label>
                <textarea matInput
                    type="text"
                    placeholder="Type Template Name Here"
                    name="temp_nama"
                    required
                    [(ngModel)]="form.temp_nama"
                    matTextareaAutosize 
                    [matAutosizeMinRows]="2"
                    [readonly]="form.is_detail"
                ></textarea>
            </mat-form-field> -->
            <!-- / REMARK -->

            <mat-form-field appearance="outline" class="small">
                <mat-label>Descriptions</mat-label>
                <textarea
                    matInput
                    type="text"
                    placeholder="Descriptions"
                    name="description"
                    [(ngModel)]="form.description"
                    matTextareaAutosize
                    [matAutosizeMinRows]="2"
                    [readonly]="form.is_detail"
                    required
                ></textarea>
            </mat-form-field>

            <!-- PLANT -->
            <mat-form-field
                appearance="outline"
                class="small"
                *ngIf="form.description"
            >
                <mat-label>Plant</mat-label>
                <mat-select
                    name="plant"
                    [(ngModel)]="form.plant"
                    required
                    placeholder="Please Select Plant"
                    [disabled]="form.is_detail"
                >
                    <mat-option value="1">Refinery</mat-option>
                    <mat-option value="2">Fractionation</mat-option>
                </mat-select>
            </mat-form-field>
            <!-- / PLANT -->

            <!-- Storeloc -->
            <mat-form-field
                appearance="outline"
                class="small"
                *ngIf="form.plant"
            >
                <mat-label>Storage Location</mat-label>
                <input
                    matInput
                    type="text"
                    placeholder="Storage Location"
                    name="storeloc_nama"
                    [(ngModel)]="form.storeloc_nama"
                    required
                    [matAutocomplete]="acStoreloc"
                    (ngModelChange)="StorelocFilter()"
                    (focus)="StorelocFilter()"
                    [readonly]="form.is_detail || form.id != 'add' || form.storeloc"
                />
                <button
                    type="button"
                    mat-button
                    class="red-fg"
                    *ngIf="
                        form.storeloc && 
                        form.id == 'add' && 
                        !form.is_detail
                    "
                    matSuffix
                    mat-icon-button
                    aria-label="Clear"
                    (click)="
                        form.storeloc = null;
                        form.storeloc_nama = null;
                        form.storeloc_kode = null;
                    "
                    tabindex="-1"
                >
                    <mat-icon>close</mat-icon>
                </button>
                <mat-autocomplete
                    autoActiveFirstOption
                    #acStoreloc="matAutocomplete"
                    class="force-wrap ac-small"
                >
                    <mat-option
                        *ngFor="let item of Storeloc"
                        [value]="item.nama"
                        (onSelectionChange)="StorelocSelect($event, item)"
                    >
                        {{ item.kode }} : {{ item.nama }}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
            <!-- / Storeloc -->

            <!-- Cost Center -->
            <mat-form-field *ngIf="form.storeloc" fxFlex="1 1 auto" appearance="outline" class="small">
                <mat-label>Cost Center</mat-label>
                <input matInput 
                    type="text" 
                    placeholder="Select Cost Center" 
                    name="cost_nama" 
                    [(ngModel)]="form.cost_nama"
                    [matAutocomplete]="acCost"
                    (ngModelChange)="CostFilter(form.cost_nama)"
                    (focus)="CostFilter(form.cost_nama)"
                    (click)="CostFilter(form.cost_nama)"
                    [readonly]="form.is_detail || form.cost"
                    required
                >
                <button mat-button 
                    type="button" 
                    class="red-fg"
                    *ngIf="form.cost && !form.is_detail" 
                    matSuffix 
                    mat-icon-button 
                    aria-label="Clear" 
                    (click)="form.cost = null; form.cost_kode = null; form.cost_nama = null">
                    <mat-icon>close</mat-icon>
                </button>
                <mat-autocomplete #acCost="matAutocomplete" class="force-wrap ac-small">
                    <mat-option *ngFor="let item of Cost" [value]="item.nama" (onSelectionChange) = "CostSelect($event, item)">
                        {{ item.nama }}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
            <!-- Cost Center -->
        </mat-dialog-content>
        <!-- RIGHT FORM -->

        <!-- RIGHT -->
        <mat-dialog-content
            *ngIf="form.storeloc"
            fxLayout="column"
            fxFlex="1 1 auto"
        >
            <div>
                <table
                    class="table table-responsive table-input table-small table-striped table-hover table-border-top"
                >
                    <thead>
                        <tr>
                            <th colspan="20" class="bold">
                                MATERIALS
                            </th>
                        </tr>
                        <tr>
                            <th width="10">
                                <div *ngIf="!form.is_detail">
                                    <mat-icon color="warn">delete</mat-icon>
                                </div>
                                <div *ngIf="form.is_detail">
                                    No.
                                </div>
                            </th>
                            <th width="300">
                                Item
                            </th>
                            <th width="75">
                                Code
                            </th>
                            <th width="50">
                                UoM
                            </th>
                            <th width="100">
                                Qty
                            </th>
                            <th style="min-width: 150px; max-width: 150px;">
                                Job Alocation
                            </th>
                            <th style="min-width: 100px; max-width: 100px;">
                                Account Code
                            </th>
                            <th style="min-width: 250px; max-width: 250px;">
                                Account Description
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container
                            *ngFor="let item of Material; let i = index;"
                        >
                            <tr
                                *ngIf="
                            (
                                form.is_detail && item.id
                            ) || 
                            !form.is_detail                                
                            "
                            >
                                <td class="text-center">
                                    <div *ngIf="!form.is_detail">
                                        <button
                                            type="button"
                                            mat-icon-button
                                            (click)="DeleteList(i, 1)"
                                            *ngIf="
                                                    Material?.length > 1 && 
                                                    item.id
                                                "
                                            tabindex="-1"
                                        >
                                            <mat-icon class="red-fg"
                                                >close</mat-icon
                                            >
                                        </button>
                                    </div>
                                    <div *ngIf="form.is_detail" padding5>
                                        {{ i+1 }}
                                    </div>
                                </td>
                                <td style="position: relative;">
                                    <input
                                        type="text"
                                        placeholder="Item Name"
                                        id="material-nama-{{i}}"
                                        name="material-nama-{{i}}"
                                        [(ngModel)]="item.nama"
                                        [required]="i == 0"
                                        [matAutocomplete]="acItem"
                                        (ngModelChange)="ItemFilter(item.nama, i, 1)"
                                        [readonly]="form.is_detail || item.id"
                                        [tabindex]="item.id ? '-1' : null"
                                    />
                                    <mat-autocomplete
                                        autoActiveFirstOption
                                        #acItem="matAutocomplete"
                                        class="force-wrap ac-small"
                                    >
                                        <mat-option
                                            *ngFor="let item of Item"
                                            (onSelectionChange)="ItemSelect($event, item, i, 1)"
                                            [value]="item.nama"
                                        >
                                            <sup
                                                ><strong class="primary-fg"
                                                    >{{ item.kode }}</strong
                                                ></sup
                                            >
                                            {{ item.nama }}
                                        </mat-option>
                                    </mat-autocomplete>
                                    <div
                                        *ngIf="WaitItemMaterial[i]"
                                        style="
                                            position: absolute;
                                            right: 0px;
                                            top: 0px;
                                        "
                                    >
                                        <mat-spinner
                                            diameter="20"
                                            strokeWidth="2"
                                            color="error"
                                            style="margin-top: 5px;"
                                        ></mat-spinner>
                                    </div>
                                </td>
                                <td
                                    padding5
                                    style="white-space: nowrap !important;"
                                >
                                    {{ item.kode }}
                                </td>
                                <td padding5 class="text-center">
                                    {{ item.satuan }}
                                </td>
                                <td>
                                    <input
                                        [disabled]="!item.id"
                                        type="text"
                                        autocomplete="off"
                                        maxlength="23"
                                        currencyMask
                                        name="material-qty-{{i}}"
                                        id="material-qty-{{i}}"
                                        [(ngModel)]="item.qty"
                                        [required]="i == 0 || item.id"
                                        [options]="
                                        item.in_decimal == 1 ? {
                                            prefix: '',
                                            allowNegative: false,
                                            thousands: '.',
                                            decimal: ',',
                                            precision: 2
                                        } : {
                                            prefix: '',
                                            allowNegative: false,
                                            thousands: '.',
                                            decimal: ',',
                                            precision: 0
                                        }
                                        "
                                        [readonly]="form.is_detail"
                                        [tabindex]="item.id ? '-1' : null"
                                    />
                                </td>

                                <td nopadding style="position: relative;">
                                    <textarea
                                        type="text"
                                        placeholder="Job Alocation"
                                        id="material-job_alocation_nama-{{i}}"
                                        name="material-job_alocation_nama-{{i}}"
                                        [(ngModel)]="item.job_alocation_nama"
                                        [required]="i == 0"
                                        [matAutocomplete]="acJob"
                                        (ngModelChange)="FilterJobAlocation(item.job_alocation_nama, i)"
                                        [readonly]="form.is_detail || item.job_alocation"
                                        [tabindex]="item.id ? '-1' : null"
                                    ></textarea>
                                    <button mat-button 
                                        matSuffix 
                                        mat-icon-button 
                                        *ngIf="item.job_alocation && !form.is_detail" 
                                        type="button" 
                                        style="position: absolute;right: 0;" 
                                        aria-label="Clear" 
                                        (click)="RemoveJobAlocation(i);" 
                                        tabindex="-1">
                                        <mat-icon>close</mat-icon>
                                    </button>
                                    <mat-autocomplete #acJob="matAutocomplete" class="force-wrap ac-small">
                                        <mat-option *ngFor="let item of JobAlocation"  (onSelectionChange)="SelectJobAlocation($event, item, i)" [value]="item.nama">
                                            {{ item.nama }}
                                        </mat-option>
                                    </mat-autocomplete>
                                </td>
                                <td padding5>
                                    {{ item.coa_kode }}
                                </td>
                                <td padding5>
                                    {{ item.coa_nama }}
                                </td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
            </div>

            <div class="mt-32">
                <table
                    class="table table-responsive table-input table-small table-striped table-hover table-border-top"
                >
                    <thead>
                        <tr>
                            <th colspan="20" class="bold mat-indigo-bg">
                                PRODUCTIONS OUTPUT
                            </th>
                        </tr>
                        <tr>
                            <th width="10">
                                <div *ngIf="!form.is_detail">
                                    <mat-icon color="warn">delete</mat-icon>
                                </div>
                                <div *ngIf="form.is_detail">
                                    No.
                                </div>
                            </th>
                            <th width="300">
                                Item
                            </th>
                            <th width="75">
                                Code
                            </th>
                            <th width="50">
                                UOM
                            </th>
                            <th width="100">
                                Qty
                            </th>
                            <th width="50">
                                Cost (%)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container
                            *ngFor="let item of Output; let i = index;"
                        >
                            <tr
                                *ngIf="
                                    (form.is_detail && item.id) || !form.is_detail                                
                                "
                            >
                                <td class="text-center">
                                    <div *ngIf="!form.is_detail">
                                        <button
                                            type="button"
                                            mat-icon-button
                                            (click)="DeleteList(i, 2)"
                                            *ngIf="
                                                    Output?.length > 1 && 
                                                    item.id
                                                "
                                            tabindex="-1"
                                        >
                                            <mat-icon class="red-fg"
                                                >close</mat-icon
                                            >
                                        </button>
                                    </div>
                                    <div *ngIf="form.is_detail" padding5>
                                        {{ i+1 }}
                                    </div>
                                </td>
                                <td style="position: relative;">
                                    <input
                                        type="text"
                                        placeholder="Item Name"
                                        id="output-nama-{{i}}"
                                        name="output-nama-{{i}}"
                                        [(ngModel)]="item.nama"
                                        [required]="i == 0"
                                        [matAutocomplete]="acItem"
                                        (ngModelChange)="ItemFilter(item.nama, i, 2)"
                                        [readonly]="form.is_detail || item.id"
                                        [tabindex]="item.id ? '-1' : null"
                                    />
                                    <mat-autocomplete
                                        autoActiveFirstOption
                                        #acItem="matAutocomplete"
                                        class="force-wrap ac-small"
                                    >
                                        <mat-option
                                            *ngFor="let item of Item"
                                            (onSelectionChange)="ItemSelect($event, item, i, 2)"
                                            [value]="item.nama"
                                        >
                                            <sup
                                                ><strong class="primary-fg"
                                                    >{{ item.kode }}</strong
                                                ></sup
                                            >
                                            {{ item.nama }}
                                        </mat-option>
                                    </mat-autocomplete>
                                    <div
                                        *ngIf="WaitItemOutput[i]"
                                        style="
                                            position: absolute;
                                            right: 0px;
                                            top: 0px;
                                        "
                                    >
                                        <mat-spinner
                                            diameter="20"
                                            strokeWidth="2"
                                            color="error"
                                            style="margin-top: 5px;"
                                        ></mat-spinner>
                                    </div>
                                </td>
                                <td
                                    padding5
                                    style="white-space: nowrap !important;"
                                >
                                    {{ item.kode }}
                                </td>
                                <td padding5 class="text-center">
                                    {{ item.satuan }}
                                </td>
                                <td>
                                    <input
                                        [disabled]="!item.id"
                                        type="text"
                                        autocomplete="off"
                                        maxlength="23"
                                        currencyMask
                                        name="output-qty-{{i}}"
                                        id="output-qty-{{i}}"
                                        [(ngModel)]="item.qty"
                                        [required]="i == 0 || item.id"
                                        [options]="
                                        item.in_decimal == 1 ? {
                                            prefix: '',
                                            allowNegative: false,
                                            thousands: '.',
                                            decimal: ',',
                                            precision: 2
                                        } : {
                                            prefix: '',
                                            allowNegative: false,
                                            thousands: '.',
                                            decimal: ',',
                                            precision: 0
                                        }
                                        "
                                        [readonly]="form.is_detail"
                                    />
                                </td>
                                <td>
                                    <input
                                        [disabled]="!item.id"
                                        type="text"
                                        autocomplete="off"
                                        maxlength="8"
                                        currencyMask
                                        name="output-persentase-{{i}}"
                                        id="output-persentase-{{i}}"
                                        [(ngModel)]="item.persentase"
                                        [required]="i == 0 || item.id"
                                        [options]="
                                        {
                                            suffix: '%',
                                            prefix: '',
                                            allowNegative: false,
                                            thousands: '.',
                                            decimal: ',',
                                            precision: 2
                                        }
                                        "
                                        [readonly]="form.is_detail"
                                    />
                                </td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
            </div>
            <!-- / OUTPUT -->

            <!-- UTILITY -->
            <div class="mt-32">
                <table
                    class="table table-responsive table-input table-small table-striped table-hover table-border-top"
                >
                    <thead>
                        <tr>
                            <th colspan="20" class="bold mat-lime-bg">
                                UTILITIES
                            </th>
                        </tr>
                        <tr>
                            <th width="10">
                                <div *ngIf="!form.is_detail">
                                    <mat-icon color="warn">delete</mat-icon>
                                </div>
                                <div *ngIf="form.is_detail">
                                    No.
                                </div>
                            </th>
                            <th width="300">
                                Item
                            </th>
                            <th width="75">
                                Code
                            </th>
                            <th width="50">
                                UOM
                            </th>
                            <th width="100">
                                Qty
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container
                            *ngFor="let item of Utility; let i = index;"
                        >
                            <tr
                                *ngIf="
                            (
                                form.is_detail && item.id
                            ) || 
                            !form.is_detail                                
                            "
                            >
                                <td class="text-center">
                                    <div *ngIf="!form.is_detail">
                                        <button
                                            type="button"
                                            mat-icon-button
                                            (click)="DeleteList(i, 3)"
                                            *ngIf="
                                                    Utility?.length > 1 && 
                                                    item.id
                                                "
                                            tabindex="-1"
                                        >
                                            <mat-icon class="red-fg"
                                                >close</mat-icon
                                            >
                                        </button>
                                    </div>
                                    <div *ngIf="form.is_detail" padding5>
                                        {{ i+1 }}
                                    </div>
                                </td>
                                <td style="position: relative;">
                                    <input
                                        type="text"
                                        placeholder="Item Name"
                                        id="utility-nama-{{i}}"
                                        name="utility-nama-{{i}}"
                                        [(ngModel)]="item.nama"
                                        [required]="i == 0"
                                        [matAutocomplete]="acItem"
                                        (ngModelChange)="ItemFilter(item.nama, i, 3)"
                                        [readonly]="form.is_detail || item.id"
                                        [tabindex]="item.id ? '-1' : null"
                                    />
                                    <mat-autocomplete
                                        autoActiveFirstOption
                                        #acItem="matAutocomplete"
                                        class="force-wrap ac-small"
                                    >
                                        <mat-option
                                            *ngFor="let item of Item"
                                            (onSelectionChange)="ItemSelect($event, item, i, 3)"
                                            [value]="item.nama"
                                        >
                                            <sup
                                                ><strong class="primary-fg"
                                                    >{{ item.kode }}</strong
                                                ></sup
                                            >
                                            {{ item.nama }}
                                        </mat-option>
                                    </mat-autocomplete>
                                    <div
                                        *ngIf="WaitItemUtility[i]"
                                        style="
                                            position: absolute;
                                            right: 0px;
                                            top: 0px;
                                        "
                                    >
                                        <mat-spinner
                                            diameter="20"
                                            strokeWidth="2"
                                            color="error"
                                            style="margin-top: 5px;"
                                        ></mat-spinner>
                                    </div>
                                </td>
                                <td
                                    padding5
                                    style="white-space: nowrap !important;"
                                >
                                    {{ item.kode }}
                                </td>
                                <td padding5 class="text-center">
                                    {{ item.satuan }}
                                </td>
                                <td>
                                    <input
                                        [disabled]="!item.id"
                                        type="text"
                                        autocomplete="off"
                                        maxlength="23"
                                        currencyMask
                                        name="utility-qty-{{i}}"
                                        id="utility-qty-{{i}}"
                                        [(ngModel)]="item.qty"
                                        [required]="i == 0 || item.id"
                                        [options]="
                                        item.in_decimal == 1 ? {
                                            prefix: '',
                                            allowNegative: false,
                                            thousands: '.',
                                            decimal: ',',
                                            precision: 2
                                        } : {
                                            prefix: '',
                                            allowNegative: false,
                                            thousands: '.',
                                            decimal: ',',
                                            precision: 0
                                        }
                                        "
                                        [readonly]="form.is_detail"
                                    />
                                </td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
            </div>
            <!-- / UTILITY -->
        </mat-dialog-content>
        <!-- / RIGHT -->
    </mat-dialog-content>

    <!-- ACTIONS -->
    <mat-dialog-actions
        class="p-16 m-0"
        fxLayout="row"
        fxLayoutAlign="end"
        fxLayoutGap="10px"
    >
        <div fxFlex="1 1 auto" fxLayout="row">
            <button
                *ngIf="!form.is_detail"
                type="submit"
                mat-button
                color="primary"
            >
                <mat-icon>save</mat-icon>
                {{ Busy ? 'Please Wait...' : 'Save' }}
            </button>

            <button
                *ngIf="
                    form.is_detail &&
                    form.verified != 1
                "
                type="button"
                mat-button
                (click)="Edit();"
            >
                <mat-icon>create</mat-icon>
                Edit
            </button>

            <button
                *ngIf="
                    form.is_detail && 
                    form.verified != 1
                "
                type="button"
                mat-button
                color="primary"
                (click)="Verify();"
            >
                <mat-icon>check</mat-icon>
                Verify
            </button>
        </div>

        <div>
            <button *ngIf="!Busy" type="button" mat-button mat-dialog-close>
                <mat-icon>close</mat-icon>
                Close
            </button>
        </div>
    </mat-dialog-actions>
    <!-- / ACTIONS -->
</form>
