<form
    ngNativeValidate
    (ngSubmit)="Simpan()"
    class="dialog-content-wrapper"
    cdkDrag
    cdkDragRootElement=".cdk-overlay-pane"
    autocomplete="off"
    aria-autocomplete="none"
    style="min-width: 500px;"
>
    <mat-toolbar cdkDragHandle matDialogTitle class="mat-primary m-0">
        <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title" *ngIf="form.id == 'add'">
                Add New {{Com.name}}
            </span>
            <span
                class="title dialog-title"
                *ngIf="!form.is_detail && form.id != 'add'"
            >
                Edit {{Com.name}}
            </span>
            <span
                class="title dialog-title"
                *ngIf="form.id != 'add' && form.is_detail"
            >
                <div style="font-size: 12px;" class="accent-fg">
                    Detail {{ Com.name }}
                </div>
                <div style="margin-top: -12px !important;">
                    <small> Code : {{ form.kode }} </small>
                </div>
            </span>
            <button
                mat-button
                type="button"
                class="mat-icon-button ml-24"
                mat-dialog-close
                aria-label="Close dialog"
                tabindex="-1"
                *ngIf="!Busy"
            >
                <mat-icon class="white-fg">close</mat-icon>
            </button>
        </div>
    </mat-toolbar>

    <!-- CONTENT -->
    <mat-dialog-content
        fxLayout="row"
        fxLayout.lt-sm="column"
        fxLayoutGap="10px"
        class="p-24 m-0"
    >
        <div fxLayout="column" fxFlex="1 1 auto">
            <mat-form-field
                fxFlex="1 1 auto"
                floatPlaceholder="always"
                appearance="outline"
                class="small"
            >
                <mat-label>Date</mat-label>
                <input
                    matInput
                    name="tanggal"
                    placeholder="Please Select Date"
                    [(ngModel)]="form.tanggal"
                    [matDatepicker]="tanggal"
                    (ngModelChange)="AutoFocus('*[name=company_nama]')"
                    (focus)="tanggal.open()"
                    (click)="tanggal.open()"
                    [disabled]="form.is_detail"
                    style="
                        font-size: 14px !important;
                        color: #000 !important;
                        padding: 0px !important;
                        text-align: center;
                        font-weight: bold;
                    "
                    required
                />
                <mat-datepicker #tanggal></mat-datepicker>
            </mat-form-field>

            <mat-form-field
                fxFlex="1 1 auto"
                appearance="outline"
                class="small"
                *ngIf="form.tanggal"
            >
                <mat-label>Company</mat-label>
                <input
                    matInput
                    type="text"
                    name="company_nama"
                    placeholder="Company"
                    [(ngModel)]="form.company_nama"
                    [matAutocomplete]="acCompany"
                    (ngModelChange)="CompanyFilter()"
                    [readonly]="CompanyLen == 1 || form.company"
                    class="uppercase"
                />
                <button
                    mat-button
                    *ngIf="form.company && !form.is_detail"
                    matSuffix
                    mat-icon-button
                    aria-label="Clear"
                    (click)="CompanyRemove();"
                >
                    <mat-icon>close</mat-icon>
                </button>
                <mat-autocomplete
                    autoActiveFirstOption
                    #acCompany="matAutocomplete"
                    class="force-wrap ac-small"
                >
                    <mat-option
                        *ngFor="let item of Company"
                        [value]="item.nama"
                        (onSelectionChange)="CompanySelect($event, item)"
                    >
                        {{ item.nama | uppercase }}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>

            <mat-form-field
                fxFlex="1 1 auto"
                appearance="outline"
                class="small"
                *ngIf="form.company"
            >
                <mat-label>SPK No.</mat-label>
                <input
                    matInput
                    type="text"
                    placeholder="SPK No."
                    name="spk_kode"
                    [(ngModel)]="form.spk_kode"
                    [readonly]="form.is_detail"
                />
            </mat-form-field>

            <mat-form-field
                fxFlex="1 1 auto"
                appearance="outline"
                class="small"
                *ngIf="form.company"
            >
                <mat-label>Contractor</mat-label>
                <input
                    matInput
                    type="text"
                    name="kontraktor_nama"
                    placeholder="Contractor"
                    [(ngModel)]="form.kontraktor_nama"
                    [matAutocomplete]="acKontraktor"
                    (ngModelChange)="KontraktorFilter(form.kontraktor_nama)"
                    [readonly]="form.is_detail || form.kontraktor"
                    class="uppercase"
                />
                <button
                    mat-button
                    *ngIf="form.kontraktor && !form.is_detail"
                    matSuffix
                    mat-icon-button
                    aria-label="Clear"
                    (click)="KontraktorRemove();"
                >
                    <mat-icon>close</mat-icon>
                </button>
                <mat-autocomplete
                    autoActiveFirstOption
                    #acKontraktor="matAutocomplete"
                    class="force-wrap ac-small"
                >
                    <mat-option
                        *ngFor="let item of Kontraktor"
                        [value]="item.nama"
                        (onSelectionChange)="KontraktorSelect($event, item)"
                    >
                        {{ item.nama | uppercase }}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>

            <mat-form-field
                fxFlex="1 1 auto"
                appearance="outline"
                class="small"
                *ngIf="form.company && form.kontraktor"
            >
                <mat-label>Contract Request</mat-label>
                <input
                    matInput
                    type="text"
                    name="req_kode"
                    placeholder="Contract Request"
                    [(ngModel)]="form.req_kode"
                    [matAutocomplete]="acReq"
                    (ngModelChange)="KontrakFilter(form.req_kode)"
                    (focus)="KontrakFilter(form.req_kode)"
                    (click)="KontrakFilter(form.req_kode)"
                    [readonly]="form.is_detail || form.req"
                />
                <button
                    mat-button
                    *ngIf="form.req && !form.is_detail"
                    matSuffix
                    mat-icon-button
                    aria-label="Clear"
                    (click)="KontrakRemove();"
                >
                    <mat-icon>close</mat-icon>
                </button>
                <mat-autocomplete
                    autoActiveFirstOption
                    #acReq="matAutocomplete"
                    class="force-wrap ac-small"
                >
                    <mat-option
                        *ngFor="let item of Kontrak"
                        [value]="item.kode"
                        (onSelectionChange)="KontrakSelect($event, item)"
                    >
                        {{ item.kode | uppercase }}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>

            <div
                fxLayout="row"
                fxLayoutGap="10px"
                *ngIf="form.company && form.kontraktor && form.req"
            >
                <mat-form-field
                    fxFlex="1 1 auto"
                    appearance="outline"
                    class="small"
                >
                    <mat-label>Start Date Request</mat-label>
                    <input
                        matInput
                        type="text"
                        placeholder="Start Date Request"
                        name="start_date_show"
                        [(ngModel)]="form.start_date_show"
                        readonly
                    />
                </mat-form-field>

                <mat-form-field
                    fxFlex="1 1 auto"
                    appearance="outline"
                    class="small"
                    *ngIf="form.start_date_show"
                >
                    <mat-label>End Date Request</mat-label>
                    <input
                        matInput
                        type="text"
                        placeholder="End Date Request"
                        name="end_date_show"
                        [(ngModel)]="form.end_date_show"
                        readonly
                    />
                </mat-form-field>
            </div>

            <div
                fxLayout="row"
                fxLayoutGap="10px"
                *ngIf="form.company && form.kontraktor && form.req && form.start_date_show && form.end_date_show"
            >
                <mat-form-field
                    fxFlex="1 1 auto"
                    appearance="outline"
                    class="small"
                >
                    <mat-label>Currency</mat-label>
                    <mat-select
                        [disabled]="form.is_detail"
                        name="currency"
                        placeholder="Currency"
                        [(ngModel)]="form.currency"
                        required
                    >
                        <mat-option
                            *ngFor="let item of Default.currency"
                            [value]="item.kode"
                        >
                            {{ item.kode }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field
                    fxFlex="1 1 50%"
                    appearance="outline"
                    class="small"
                    *ngIf="form.currency"
                >
                    <mat-label>Term. Of Payment (Days)</mat-label>
                    <input
                        matInput
                        type="text"
                        placeholder="Term. Of Payment"
                        name="payment_term"
                        [(ngModel)]="form.payment_term"
                        currencyMask
                        [options]="{
                            prefix: '',
                            allowNegative: false,
                            thousands: '.',
                            decimal: ',',
                            precision: 0
                        }"
                        required
                        [readonly]="form.is_detail"
                    />
                </mat-form-field>
            </div>

            <div
                fxLayout="row"
                fxLayoutGap="10px"
                *ngIf="form.currency && form.payment_term"
            >
                <mat-form-field
                    fxFlex="1 1 auto"
                    appearance="outline"
                    class="small"
                >
                    <mat-label>Down Payment</mat-label>
                    <mat-select
                        [disabled]="form.is_detail"
                        name="dp"
                        placeholder="Down Payment"
                        [(ngModel)]="form.dp"
                    >
                        <mat-option>N/A</mat-option>
                        <mat-option [value]="1">AMOUNT</mat-option>
                        <mat-option [value]="2">PERCENTAGE</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field
                    fxFlex="1 1 50%"
                    appearance="outline"
                    class="small"
                >
                    <mat-label *ngIf="form.dp == 1">Amount</mat-label>
                    <mat-label *ngIf="form.dp == 2">Percentage</mat-label>
                    <input
                        matInput
                        type="text"
                        [placeholder]="form.dp == 1 ? Amount : Percentage"
                        name="dp_amount"
                        [(ngModel)]="form.dp_amount"
                        currencyMask
                        [options]="{
                            prefix: '',
                            allowNegative: false,
                            thousands: '.',
                            decimal: ',',
                            precision: 2
                        }"
                        [required]="form.dp == 1 || form.dp == 2"
                        [readonly]="form.is_detail"
                    />
                </mat-form-field>
            </div>

            <div
                fxLayout="row"
                fxLayoutGap="10px"
                *ngIf="form.currency && form.payment_term"
            >
                <mat-form-field
                    fxFlex="1 1 auto"
                    appearance="outline"
                    class="small"
                >
                    <mat-label>Payment Mode</mat-label>
                    <mat-select
                        [disabled]="form.is_detail"
                        name="payment"
                        placeholder="Payment Mode"
                        [(ngModel)]="form.payment"
                        required
                    >
                        <mat-option [value]="1">MONTHLY</mat-option>
                        <mat-option [value]="2">MILESTONE</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field
                    fxFlex="1 1 50%"
                    appearance="outline"
                    class="small"
                    *ngIf="form.payment"
                >
                    <mat-label>Retention (%)</mat-label>
                    <input
                        matInput
                        type="text"
                        placeholder="Retention"
                        name="payment_retention"
                        [(ngModel)]="form.payment_retention"
                        currencyMask
                        [options]="{
                            prefix: '',
                            allowNegative: false,
                            thousands: '.',
                            decimal: ',',
                            precision: 0
                        }"
                        required
                        [readonly]="form.is_detail"
                    />
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutGap="10px" *ngIf="form.payment">
                <mat-form-field
                    fxFlex="1 1 auto"
                    appearance="outline"
                    class="small"
                >
                    <mat-label>PPN</mat-label>
                    <mat-select
                        [disabled]="form.is_detail"
                        name="ppn"
                        placeholder="PPN"
                        [(ngModel)]="form.ppn"
                        (ngModelChange)="TotalAmount()"
                    >
                        <mat-option [value]="0">-</mat-option>
                        <mat-option [value]="10">10%</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field
                    fxFlex="1 1 50%"
                    appearance="outline"
                    class="small"
                >
                    <mat-label>PPH</mat-label>
                    <mat-select
                        [disabled]="form.is_detail"
                        name="pph_code"
                        placeholder="PPH"
                        [(ngModel)]="form.pph_code"
                        (ngModelChange)="SetPPh()"
                    >
                        <mat-option [value]="">-</mat-option>
                        <mat-option
                            *ngFor="let item of Default.pph"
                            [value]="item.code"
                        >
                            {{ item.code }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <mat-form-field
                fxFlex="1 1 auto"
                appearance="outline"
                class="small"
                *ngIf="form.company && form.req && form.payment_term && form.payment"
            >
                <mat-label>Remarks</mat-label>
                <textarea
                    matInput
                    type="text"
                    placeholder="Remarks"
                    name="remarks"
                    [(ngModel)]="form.remarks"
                    matTextareaAutosize
                    [matAutosizeMinRows]="2"
                    [readonly]="form.is_detail"
                ></textarea>
            </mat-form-field>
        </div>

        <mat-dialog-content
            fxLayout="column"
            class="m-4 pl-0"
            *ngIf="List && List?.length > 0 && form.remarks"
        >
            <mat-dialog-content fxLayout="row">
                <table
                    class="table table-responsive table-input table-small table-striped table-hover table-border-top"
                >
                    <thead>
                        <tr>
                            <th
                                style="min-width: 50px; vertical-align: middle;"
                                rowspan="2"
                            >
                                No.
                            </th>
                            <th colspan="2">Activity</th>
                            <th
                                style="
                                    min-width: 200px;
                                    vertical-align: middle;
                                "
                                rowspan="2"
                            >
                                Job Description
                            </th>
                            <th
                                style="
                                    min-width: 100px;
                                    vertical-align: middle;
                                "
                                rowspan="2"
                            >
                                Finish Date
                            </th>
                            <th
                                style="
                                    min-width: 100px;
                                    vertical-align: middle;
                                "
                                rowspan="2"
                            >
                                Volume
                            </th>
                            <th
                                style="min-width: 75px; vertical-align: middle;"
                                rowspan="2"
                            >
                                UOM
                            </th>
                            <th
                                style="
                                    min-width: 100px;
                                    vertical-align: middle;
                                "
                                rowspan="2"
                            >
                                Rate
                            </th>
                            <th
                                style="
                                    min-width: 150px;
                                    vertical-align: middle;
                                "
                                rowspan="2"
                            >
                                Amount
                            </th>
                        </tr>
                        <tr>
                            <th style="min-width: 100px;">Code</th>
                            <th style="min-width: 200px;">Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let item of List; let i = index">
                            <tr *ngIf="item">
                                <td padding5 class="text-center">
                                    {{ i + 1 }}
                                </td>
                                <td padding5>
                                    {{ item.coa_kode }}
                                </td>
                                <td padding5>
                                    {{ item.coa_nama }}
                                </td>
                                <td padding5>
                                    {{ item.remarks }}
                                </td>
                                <!-- <td nopadding>
                                    <textarea
                                        type="text"
                                        placeholder="Remarks"
                                        id="remarks-{{i}}"
                                        name="remarks-{{i}}"
                                        [(ngModel)]="item.remarks"
                                        [readonly]="form.is_detail"
                                    ></textarea>
                                </td> -->
                                <td padding5>
                                    <input
                                        matInput
                                        id="tanggal-{{i}}"
                                        name="tanggal-{{i}}"
                                        placeholder="Please Select Date"
                                        [(ngModel)]="item.tanggal"
                                        [matDatepicker]="tanggal"
                                        (focus)="tanggal.open()"
                                        (click)="tanggal.open()"
                                        [disabled]="form.is_detail"
                                        style="
                                            color: #000 !important;
                                            padding: 0px !important;
                                            text-align: center;
                                        "
                                        required
                                    />
                                    <mat-datepicker #tanggal></mat-datepicker>
                                </td>
                                <td padding5 class="text-right">
                                    {{ rupiah(item.volume) }}
                                </td>
                                <td padding5 class="text-center">
                                    {{ item.uom }}
                                </td>
                                <td nopadding>
                                    <input
                                        type="text"
                                        autocomplete="off"
                                        maxlength="23"
                                        currencyMask
                                        name="rate-{{i}}"
                                        id="rate-{{i}}"
                                        [(ngModel)]="item.rate"
                                        (ngModelChange)="CalculateAmount(item)"
                                        [options]="{
                                            prefix: '',
                                            allowNegative: false,
                                            thousands: '.',
                                            decimal: ',',
                                            precision: 2
                                        }"
                                        [readonly]="form.is_detail"
                                    />
                                </td>
                                <td padding5 class="text-right">
                                    {{ rupiah(item.amount) }}
                                </td>
                            </tr>
                        </ng-container>
                        <tr>
                            <td colspan="9" style="background: #f7f7f7;">
                                <div style="height: 5px;"></div>
                            </td>
                        </tr>
                        <tr>
                            <td padding5 class="text-right" colspan="8">
                                Total
                            </td>
                            <td padding5 class="text-right">
                                {{ rupiah(form.total_amount) }}
                            </td>
                        </tr>
                        <tr>
                            <td padding5 class="text-right" colspan="8">
                                PPN
                                <span *ngIf="form.ppn">{{ form.ppn }}%</span>
                            </td>
                            <td padding5 class="text-right">
                                {{ rupiah(form.total_ppn) }}
                            </td>
                        </tr>
                        <tr>
                            <td padding5 class="text-right" colspan="8">
                                <span *ngIf="!form.pph">PPH</span>
                                <span *ngIf="form.pph"
                                    >{{ form.pph_code }}</span
                                >
                            </td>
                            <td padding5 class="text-right">
                                {{ rupiah(form.total_pph) }}
                            </td>
                        </tr>
                        <tr class="text-bold">
                            <td padding5 class="text-right" colspan="8">
                                Grand Total
                            </td>
                            <td padding5 class="text-right">
                                {{ rupiah(form.grand_total) }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </mat-dialog-content>
        </mat-dialog-content>
    </mat-dialog-content>
    <!-- END : CONTENT -->

    <!-- ACTIONS -->
    <mat-dialog-actions
        class="p-16 m-0"
        fxLayout="row"
        fxLayoutAlign="end"
        fxLayoutGap="10px"
    >
        <div fxFlex="1 1 auto" fxLayout="row">
            <button
                *ngIf="!form.is_detail"
                type="submit"
                mat-button
                color="primary"
            >
                <mat-icon>save</mat-icon>
                {{ Busy ? 'Please Wait...' : 'Save' }}
            </button>

            <button
                *ngIf="
                    form.is_detail &&
                    form.verified != 1 &&
                    perm.edit
                "
                type="button"
                mat-button
                (click)="Edit();"
            >
                <mat-icon>create</mat-icon>
                Edit
            </button>

            <button
                *ngIf="form.is_detail && perm.verify && form.verified != 1"
                type="button"
                mat-raised-button
                color="accent"
                [disabled]="
                    Busy
                "
                (click)="Verify()"
            >
                {{ Busy ? 'Please Wait...' : 'Verify' }}
            </button>

            <button
                *ngIf="form.is_detail"
                type="button"
                mat-button
                color="primary"
                (click)="Print()"
            >
                <mat-icon>print</mat-icon>
                Print Preview
            </button>

            <div
                *ngIf="form.is_detail && perm.approve && form.verified == 1 && form.approved != 1"
            >
                <button
                    type="button"
                    mat-button
                    color="primary"
                    *ngIf="form.approved != 1 && form.verified == 1"
                    [disabled]="
                        Busy
                    "
                    (click)="Approve()"
                >
                    <mat-icon>check</mat-icon>
                    {{ Busy ? 'Please Wait...' : 'Approve' }}
                </button>

                <button
                    type="button"
                    mat-button
                    color="warn"
                    [disabled]="
                        Busy
                    "
                    (click)="Reject()"
                >
                    <mat-icon>close</mat-icon>
                    {{ Busy ? 'Please Wait...' : 'Reject' }}
                </button>
            </div>
        </div>

        <div>
            <button *ngIf="!Busy" type="button" mat-button mat-dialog-close>
                <mat-icon>close</mat-icon>
                Close
            </button>
        </div>
    </mat-dialog-actions>
    <!-- / ACTIONS -->
</form>
