<form ngNativeValidate fxLayout="column" class="dialog-content-wrapper" cdkDrag cdkDragRootElement=".cdk-overlay-pane" style="min-width: 500px" autocomplete="off" (ngSubmit)="Simpan()">

        <mat-toolbar cdkDragHandle matDialogTitle class="mat-primary m-0">
            <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
                <span class="title dialog-title">
                    Send Material Form
                </span>
                <button 
                    mat-button 
                    type="button"
                    class="mat-icon-button ml-24"
                    mat-dialog-close
                    aria-label="Close dialog"
                    tabindex="-1"
                    *ngIf="!Busy"
                >
                    <mat-icon class="white-fg">close</mat-icon>
                </button>
            </div>
        </mat-toolbar>
    
        <mat-dialog-content fxLayout="row" fxLayout.sm="column" class="m-0 p-24">
            
            <!-- LEFT -->
            <mat-dialog-content fxFlex="0 1 auto" fxLayout="column">
    
                <mat-form-field appearance="outline" class="small">
                    <mat-label>Transfer Request Code</mat-label>
                    <input matInput 
                        type="text" 
                        placeholder="Transfer Request Code" 
                        name="kode" 
                        [(ngModel)]="form.kode"
                        required
                        [readonly]="form.is_detail || form.id != 'add'"
                        tabindex="-1"
                    >
                </mat-form-field>

                <mat-form-field floatPlaceholder="always" appearance="outline" class="small">
                    <mat-label>Delivery Date</mat-label>
                    <input matInput
                        name="tanggal"
                        placeholder="Please Select Date"
                        [(ngModel)]="form.tanggal"
                        
                        [max]="maxDate"
                        (ngModelChange)="FocusBOM()"
                        required
                        [matDatepicker]="tanggal"
                        (focus)="tanggal.open()"
                        (click)="tanggal.open()"
                        [disabled]="form.is_detail || form.approved == 1"
                        readonly
                        style="font-size: 14px!important; color: #000!important; padding: 0px!important; text-align: center;"
                    >
                    <mat-datepicker #tanggal></mat-datepicker>
                </mat-form-field>
    
                <mat-form-field fxFlex="1 1 auto" appearance="outline" class="small">
                    <mat-label>Notes</mat-label>
                    <textarea matInput
                        type="text"
                        placeholder="Notes"
                        name="note"
                        [(ngModel)]="form.note"
                        matTextareaAutosize 
                        [matAutosizeMinRows]="2"
                        readonly
                        tabindex="-1"
                    ></textarea>
                </mat-form-field>
    
            </mat-dialog-content>
            <!-- END LEFT -->
    
            <!-- RIGHT -->
            <mat-dialog-content fxFlex="1 1 auto" id="container-list_item" class="p-0 m-0 ml-24 mt-8" fxLayout="column">
               
                <!-- MATERIALS -->
                <div>
                    <table class="table table-responsive table-input table-small table-striped table-hover table-border-top">
                        <thead>
                            <tr>
                                <th colspan="20" class="bold">
                                    MATERIALS
                                </th>
                            </tr>
                            <tr>
                                <th width="10">
                                    No.
                                </th>
                                <th width="75">
                                    Code
                                </th>
                                <th width="300">
                                    Item Name
                                </th>
                                <th width="150">
                                    Qty. Request
                                </th>
                                <th width="150">
                                    Storage
                                </th>  
                                <th *ngIf="form.approved != 1">
                                    Store Stock
                                </th>
                                <th width="150">
                                    Qty Send
                                </th>
                                <th width="150" style="min-width: 150px!important; width: 150px;" *ngIf="form.approved == 1">
                                    Qty. Receive
                                </th>
                                <th width="50">
                                    UOM
                                </th>
                                <th>
                                    Remarks
                                </th>   
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let item of Material; let i = index;">
                                <tr *ngIf="item.id">
                                    <td padding5 align="center">
                                        {{ i+1 }}
                                    </td>
                                    <td padding5 style="white-space:nowrap!important;">
                                        {{ item.kode }}
                                    </td>
                                    <td padding5 style="position: relative;">
                                        {{ item.nama }}
                                    </td> 
                                    <td style="position: relative;">
                                        <input
                                            type="text" 
                                            autocomplete="off"
                                            maxlength="23"
                                            currencyMask
                                            name="qty-ref-m-{{i}}"
                                            [(ngModel)]="item.qty_ref"
                                            [options]="
                                            item.in_decimal == 1 ? {
                                                prefix: '',
                                                allowNegative: false,
                                                thousands: '.',
                                                decimal: ',',
                                                precision: 2
                                            } : {
                                                prefix: '',
                                                allowNegative: false,
                                                thousands: '.',
                                                decimal: ',',
                                                precision: 0
                                            }
                                            "
                                            readonly
                                            tabindex="-1"
                                        >
                                    </td> 
                                    <td style="position: relative">
                                        <input
                                            type="text"
                                            placeholder="Storeloc Name"
                                            id="material-store-{{i}}"
                                            name="material-store-{{i}}"
                                            [(ngModel)]="item.storeloc_nama"
                                            [matAutocomplete]="acStore"
                                            (ngModelChange)="StoreFilter(item.storeloc_nama, item, item.storeloc_list)"
                                            (focus)="StoreFilter(item.storeloc_nama, item, item.storeloc_list_def)"
                                            [readonly]="form.is_detail || item.storeloc || item.qty_ref <= 0"
                                            [tabindex]="item.storeloc || item.qty_ref  <= 0 ? '-1' : ''"
                                        >

                                        <button type="button" style="position: absolute; right: 0px;" mat-button *ngIf="item.storeloc && !form.is_detail && !form.ReadOnly" matSuffix mat-icon-button aria-label="Clear" 
                                        (click)="StoreReset(item, 'material', i)" 
                                        tabindex="-1"
                                        >
                                            <mat-icon>close</mat-icon>
                                        </button>

                                        <mat-autocomplete #acStore="matAutocomplete" class="force-wrap ac-small">
                                            <mat-option *ngFor="let store of item.storeloc_list"  (onSelectionChange)="StoreSelect($event, store, item, 'material', i)" [value]="store.storeloc_kode">
                                                <sup><strong class="primary-fg">{{ store.storeloc_kode }}</strong></sup> 
                                                {{ store.storeloc_nama }}
                                            </mat-option>
                                        </mat-autocomplete>
                                        
                                    </td>

                                    <td *ngIf="form.approved != 1">
                                        <input 
                                            [disabled]="!item.id"
                                            type="text" 
                                            autocomplete="off"
                                            maxlength="23"
                                            currencyMask
                                            name="material-storeloc_stock-{{i}}"
                                            [(ngModel)]="item.stock"
                                            [required] = "item.storeloc"
                                            [options]="
                                            item.in_decimal == 1 ? {
                                                prefix: '',
                                                allowNegative: false,
                                                thousands: '.',
                                                decimal: ',',
                                                precision: 2
                                            } : {
                                                prefix: '',
                                                allowNegative: false,
                                                thousands: '.',
                                                decimal: ',',
                                                precision: 0
                                            }
                                            "
                                            readonly
                                            tabindex="-1"
                                        >
                                    </td>
                                    <td (click)="focusTo('#material-qty-' + i)">
                                        <input 
                                            [disabled]="!item.id"
                                            type="text" 
                                            autocomplete="off"
                                            maxlength="23"
                                            currencyMask
                                            name="material-qty-{{i}}"
                                            id="material-qty-{{i}}"
                                            [(ngModel)]="item.qty"
                                            (ngModelChange)="Calculate(item)"
                                            [required] = "item.storeloc"
                                            [options]="
                                                item.in_decimal == 1 ? {
                                                    prefix: '',
                                                    allowNegative: false,
                                                    thousands: '.',
                                                    decimal: ',',
                                                    precision: 2
                                                } : {
                                                    prefix: '',
                                                    allowNegative: false,
                                                    thousands: '.',
                                                    decimal: ',',
                                                    precision: 0
                                                }
                                            "
                                            [readonly]="
                                                (
                                                    form.is_detail || !item.storeloc
                                                ) || 
                                                form.approved == 1
                                            "
                                            [tabindex]="!item.storeloc || form.approved == 1 ? '-1' : ''"

                                        >
                                    </td>
                                    <td style="min-width: 150px!important; width: 150px;" *ngIf="form.approved == 1">
                                        <input 
                                            [disabled]="!item.id"
                                            type="text" 
                                            autocomplete="off"
                                            maxlength="23"
                                            currencyMask
                                            name="material-qty-receive-{{i}}"
                                            id="material-qty-receive-{{i}}"
                                            [(ngModel)]="item.qty_receive"
                                            (ngModelChange)="Calculate(item)"
                                            style="min-width: 150px!important; width: 150px;"
                                            [options]="
                                            item.in_decimal == 1 ? {
                                                prefix: '',
                                                allowNegative: false,
                                                thousands: '.',
                                                decimal: ',',
                                                precision: 2
                                            } : {
                                                prefix: '',
                                                allowNegative: false,
                                                thousands: '.',
                                                decimal: ',',
                                                precision: 0
                                            }
                                            "
                                            [readonly]="form.is_detail || !item.storeloc"
                                            [tabindex]="!item.storeloc ? '-1' : ''"
                                        >
                                    </td>
                                    <td padding5 class="text-center">
                                        {{ item.satuan }}
                                    </td>
                                    <td *ngIf="!form.is_detail">
                                        <textarea
                                            type="text"
                                            placeholder="Remarks"
                                            id="material-remarks-{{i}}"
                                            name="material-remarks-{{i}}"
                                            [(ngModel)]="item.remarks"
                                            [readonly]="form.is_detail || item.qty <= 0"
                                            [tabindex]="item.id && item.storeloc && item.qty ? null : '-1'"
                                        ></textarea>
                                    </td>
                                    <td *ngIf="form.is_detail" padding5>
                                        {{item.remarks}}
                                    </td>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>
                </div>
                <!-- MATERIALS -->
    
                <!-- OTHERS -->
                <div class="mt-32">
                    <table class="table table-responsive table-input table-small table-striped table-hover table-border-top">
                        <thead>
                            <tr>
                                <th colspan="20" class="bold">
                                    OTHERS
                                </th>
                            </tr>
                            <tr>
                                <th width="10">
                                    No.
                                </th>
                                <th width="75">
                                    Code
                                </th>
                                <th width="300">
                                    Item Name
                                </th>
                                <th width="150">
                                    Qty. Request
                                </th>
                                <th width="150">
                                    Storage
                                </th>
                                <th *ngIf="form.approved != 1">
                                    Store Stock
                                </th>
                                <th width="150">
                                    Qty Send
                                </th>
                                <th *ngIf="form.approved == 1">
                                    Qty. Receive
                                </th>
                                <th width="50">
                                    UOM
                                </th>
                                <th>
                                    Remarks
                                </th>  
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of List; let i = index;">
                                <td class="text-center">
                                    {{ i+1 }}
                                </td>
                                <td padding5 style="white-space:nowrap!important;">
                                    {{ item.kode }}
                                </td>
                                <td padding5>
                                    {{ item.nama }}
                                </td>
                                <td style="position: relative;">
                                    <input
                                        type="text" 
                                        autocomplete="off"
                                        maxlength="23"
                                        currencyMask
                                        name="qty-ref-{{i}}"
                                        [(ngModel)]="item.qty_ref"
                                        [options]="
                                        item.in_decimal == 1 ? {
                                            prefix: '',
                                            allowNegative: false,
                                            thousands: '.',
                                            decimal: ',',
                                            precision: 2
                                        } : {
                                            prefix: '',
                                            allowNegative: false,
                                            thousands: '.',
                                            decimal: ',',
                                            precision: 0
                                        }
                                        "
                                        readonly
                                        tabindex="-1"
                                    >
                                </td> 
                                <td style="position: relative">
                                    <input
                                        type="text"
                                        placeholder="Storeloc Name"
                                        id="other-store-{{i}}"
                                        name="other-store-{{i}}"
                                        [(ngModel)]="item.storeloc_nama"
                                        [matAutocomplete]="acStore"
                                        (ngModelChange)="StoreFilter(item.storeloc_nama, item, item.storeloc_list)"
                                        (focus)="StoreFilter(item.storeloc_nama, item, item.storeloc_list_def)"
                                        [readonly]="form.is_detail || item.storeloc || item.qty_ref  <= 0"
                                        [tabindex]="item.storeloc || item.qty_ref  <= 0 ? '-1' : ''"
                                    >

                                    <button type="button" style="position: absolute; right: 0px;" mat-button *ngIf="item.storeloc && !form.is_detail && !form.ReadOnly" matSuffix mat-icon-button aria-label="Clear" 
                                    (click)="StoreReset(item, 'other', i)" 
                                    tabindex="-1"
                                    >
                                        <mat-icon>close</mat-icon>
                                    </button>

                                    <mat-autocomplete #acStore="matAutocomplete" class="force-wrap ac-small">
                                        <mat-option *ngFor="let store of item.storeloc_list"  (onSelectionChange)="StoreSelect($event, store, item, 'other', i)" [value]="store.storeloc_kode">
                                            <sup><strong class="primary-fg">{{ store.storeloc_kode }}</strong></sup> 
                                            {{ store.storeloc_nama }}
                                        </mat-option>
                                    </mat-autocomplete>
                                    
                                </td>
                                <td *ngIf="form.approved != 1">
                                    <input 
                                        [disabled]="!item.id"
                                        type="text" 
                                        autocomplete="off"
                                        maxlength="23"
                                        currencyMask
                                        name="other-storeloc_stock-{{i}}"
                                        [(ngModel)]="item.stock"
                                        [required] = "item.storeloc"
                                        [options]="
                                        item.in_decimal == 1 ? {
                                            prefix: '',
                                            allowNegative: false,
                                            thousands: '.',
                                            decimal: ',',
                                            precision: 2
                                        } : {
                                            prefix: '',
                                            allowNegative: false,
                                            thousands: '.',
                                            decimal: ',',
                                            precision: 0
                                        }
                                        "
                                        readonly
                                        tabindex="-1"
                                    >
                                </td>
    
                                <td (click)="focusTo('#qty-' + i)">
                                    <input 
                                        [disabled]="!item.id"
                                        type="text" 
                                        autocomplete="off"
                                        maxlength="23"
                                        currencyMask
                                        name="qty-{{i}}"
                                        id="other-qty-{{i}}"
                                        [(ngModel)]="item.qty"
                                        (ngModelChange)="Calculate(item)"
                                        [required] = "item.storeloc"
                                        [options]="
                                        item.in_decimal == 1 ? {
                                            prefix: '',
                                            allowNegative: false,
                                            thousands: '.',
                                            decimal: ',',
                                            precision: 2
                                        } : {
                                            prefix: '',
                                            allowNegative: false,
                                            thousands: '.',
                                            decimal: ',',
                                            precision: 0
                                        }
                                        "
                                        [readonly]="
                                            (
                                                form.is_detail || !item.storeloc
                                            ) || 
                                            form.approved == 1
                                        "
                                        [tabindex]="!item.storeloc || form.approved == 1 ? '-1' : ''"
                                    >
                                </td>
                                <td *ngIf="form.approved == 1">
                                    <input 
                                        [disabled]="!item.id"
                                        type="text" 
                                        autocomplete="off"
                                        maxlength="23"
                                        currencyMask
                                        name="other-qty-receive-{{i}}"
                                        id="other-qty-receive-{{i}}"
                                        [(ngModel)]="item.qty_receive"
                                        (ngModelChange)="Calculate(item)"
                                        [options]="
                                        item.in_decimal == 1 ? {
                                            prefix: '',
                                            allowNegative: false,
                                            thousands: '.',
                                            decimal: ',',
                                            precision: 2
                                        } : {
                                            prefix: '',
                                            allowNegative: false,
                                            thousands: '.',
                                            decimal: ',',
                                            precision: 0
                                        }
                                        "
                                        [readonly]="form.is_detail || !item.storeloc"
                                        [tabindex]="!item.storeloc ? '-1' : ''"
                                    >
                                </td>
                                <td padding5 class="text-center">
                                    {{ item.satuan }}
                                </td>
                                
                                <td *ngIf="!form.is_detail">
                                    <textarea
                                        type="text"
                                        placeholder="Remarks"
                                        id="other-remarks-{{i}}"
                                        name="other-remarks-{{i}}"
                                        [(ngModel)]="item.remarks"
                                        [readonly]="form.is_detail || item.qty <= 0"
                                        [tabindex]="item.id && item.storeloc && item.qty ? null : '-1'"
                                    ></textarea>
                                </td>
                                <td *ngIf="form.is_detail" padding5>
                                    {{item.remarks}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- END OTHERS -->
    
            </mat-dialog-content>
            <!-- END RIGHT -->
    
        </mat-dialog-content>
    
        <!-- ACTIONS -->
        <mat-dialog-actions class="p-16 m-0" fxLayout="row" fxLayoutAlign="end" fxLayoutGap="10px">
    
            <div fxFlex="1 1 auto" fxLayout="row">
    
                <button
                    *ngIf="!form.is_detail"
                    type="submit"
                    mat-button
                    color="primary"
                    [disabled] = "!ReadytoSave"
                >
                    <mat-icon>save</mat-icon>
                    {{ 
                        Busy 
                        ? 
                        'Please Wait...' 
                        : 
                            form.is_reception  == 1
                            ?
                            'Save Receive' 
                            :
                            'Save'
                    }}
                </button>
    
                <button
                    *ngIf="
                        form.is_detail && 
                        form.verified != 1 && 
                        perm.verify_deliver && 
                        Default.MTR.finish != 1
                    "
                    type="button"
                    mat-button
                    color="primary"
                    (click)="Verify();"
                >
                    <mat-icon>check</mat-icon>
                    Verify
                </button>
    
                <div *ngIf="form.is_detail && perm.approve_deliver && form.verified == 1 && form.approved == 0 && 
                Default.MTR.finish != 1">

                    <button
                        type="button"
                        mat-button
                        color="primary"
                        [disabled]="
                            Busy
                        "
                        (click)="Approve()"
                    >
                        <mat-icon>check</mat-icon>
                        {{ Busy ? 'Please Wait...' : 'Approve' }}
                    </button>
    
                    <button
                        type="button"
                        mat-button
                        color="warn"
                        [disabled]="
                            Busy
                        "
                        (click)="Reject()"
                    >
                        <mat-icon>close</mat-icon>
                        {{ Busy ? 'Please Wait...' : 'Reject' }}
                    </button>
    
                </div>

                <!-- RECEPTION -->
                <div *ngIf="perm.edit">

                    <button
                        *ngIf="
                            form.is_detail && 
                            form.approved == 1 && 
                            form.verified_rcv != 1 && 
                            Default.MTR.finish != 1
                        "
                        type="button"
                        mat-raised-button
                        color="accent"
                        (click)="ButtonReceive();"
                    >
                        <mat-icon>edit</mat-icon>
                        Receive Materials
                    </button>
    
                    <button
                        *ngIf="
                            form.is_detail && 
                            form.rcv == 1 &&
                            form.verified_rcv != 1 &&
                            perm.verify_rcv && 
                            Default.MTR.finish != 1
                        "
                        type="button"
                        mat-button
                        color="primary"
                        (click)="Verify(1);"
                    >
                        <mat-icon>check</mat-icon>
                        Verify Receive
                    </button>
    
                    <div *ngIf="perm.approve_rcv && form.is_detail && form.verified_rcv == 1 && form.approved_rcv != 1 && 
                    Default.MTR.finish != 1">
    
                        <button
                            type="button"
                            mat-button
                            color="primary"
                            [disabled]="
                                Busy
                            "
                            (click)="Approve(1);"
                        >
                            <mat-icon>check</mat-icon>
                            {{ Busy ? 'Please Wait...' : 'Approve Receive' }}
                        </button>
    
                        <button
                            type="button"
                            mat-button
                            color="warn"
                            [disabled]="
                                Busy
                            "
                            (click)="Reject(1)"
                        >
                            <mat-icon>close</mat-icon>
                            {{ Busy ? 'Please Wait...' : 'Reject Receive' }}
                        </button>
                    </div>
                    
                </div>
                <!-- / END : RECEPTION -->
    
            </div>
        
            <div>
                <button 
                    *ngIf="!Busy"
                    type="button" 
                    mat-button 
                    mat-dialog-close
                >
                    <mat-icon>close</mat-icon>
                    Close
                </button>
            </div>
        
        </mat-dialog-actions>
        <!-- / ACTIONS -->
    
    </form>