<form ngNativeValidate (ngSubmit)="Simpan()" class="dialog-content-wrapper" cdkDrag cdkDragRootElement=".cdk-overlay-pane" autocomplete="off" aria-autocomplete="none" style="min-width: 500px;">

    <mat-toolbar cdkDragHandle matDialogTitle class="mat-primary m-0">
        <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title" *ngIf="form.id == 'add'">
                Add New {{ Com.name }}
            </span>
            <span class="title dialog-title" *ngIf="form.id != 'add'">
                {{ Com.title }}
            </span>
            <button mat-button 
                type="button"
                class="mat-icon-button ml-24"
                mat-dialog-close
                aria-label="Close dialog"
                tabindex="-1"
                *ngIf="!Busy">
                <mat-icon class="white-fg">close</mat-icon>
            </button>
        </div>
    </mat-toolbar>

    <!-- CONTENT -->
    <mat-dialog-content fxLayout="column" fxFlex="1 1 auto" fxLayout.sm="column" class="p-24 m-0">

        <mat-form-field appearance="outline" class="small">
            <mat-label>Company</mat-label>
            <input matInput 
                type="text" 
                placeholder="Company" 
                name="company_nama" 
                [(ngModel)]="form.company_nama"
                [matAutocomplete]="acCompany"
                (ngModelChange)="CompanyFilter()"
                [readonly]="CompanyLen == 1 || form.is_detail || form.company"
                required
            >
            <button mat-button
                type="button"  
                *ngIf="form.company && !form.is_detail" 
                matSuffix 
                mat-icon-button 
                aria-label="Clear" 
                (click)="CompanyRemove();" 
                tabindex="-1">
                <mat-icon>close</mat-icon>
            </button>
            <mat-autocomplete #acCompany="matAutocomplete" class="force-wrap ac-small">
                <mat-option *ngFor="let item of Company" [value]="item.nama" (onSelectionChange)="CompanySelect($event, item)">
                    {{ item.nama }}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>

        <mat-form-field *ngIf="form.company" fxFlex="1 1 auto" appearance="outline" class="small">
            <mat-label>Item Group</mat-label>
            <input matInput 
                type="text" 
                placeholder="Item Group" 
                name="grup_nama" 
                [(ngModel)]="form.grup_nama"
                [matAutocomplete]="acGrup"
                (ngModelChange)="GrupFilter(form.grup_nama)"
                (focus)="GrupFilter(form.grup_nama)"
                (click)="GrupFilter(form.grup_nama)"
                [readonly]="form.is_detail || form.grup"
                required
            >
            <button mat-button 
                type="button" 
                *ngIf="form.grup && !form.is_detail" 
                matSuffix 
                mat-icon-button 
                aria-label="Clear" 
                (click)="form.grup = null; form.grup_nama = null; form.grup_kode = null;">
                <mat-icon>close</mat-icon>
            </button>
            <mat-autocomplete #acGrup="matAutocomplete" class="force-wrap ac-small">
                <mat-option *ngFor="let item of Grup" [value]="item.nama" (onSelectionChange)="GrupSelect($event, item)">
                    <strong>{{ item.kode }} : </strong>
                    {{ item.nama }}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>

        <ng-container *ngIf="form.grup">
            <mat-form-field appearance="outline" class="small">
                <mat-label>Akun Persediaan</mat-label>
                <input matInput
                    type="text"
                    placeholder="Akun Persediaan"
                    name="coa_persediaan"
                    [(ngModel)]="form.coa_persediaan_input"
                    [matAutocomplete]="acCoaPersediaan"
                    (ngModelChange)="COAFilter('coa_persediaan')"
                    [readonly]="form.is_detail"
                >
                <button mat-button *ngIf="form.coa_persediaan_input && !form.is_detail" matSuffix mat-icon-button aria-label="Clear" (click)="ClearInput('coa_persediaan')">
                    <mat-icon>close</mat-icon>
                </button>
                <mat-autocomplete #acCoaPersediaan="matAutocomplete" class="force-wrap ac-small">
                    <mat-option *ngFor="let item of COA" [value]="item.kode + ' - ' + item.nama" (onSelectionChange)="COASelect($event, item, 'coa_persediaan')">
                        {{ item.kode }} 
                        ({{ item.nama }}) 
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>

            <mat-form-field appearance="outline" class="small">
                <mat-label>Akun Beban</mat-label>
                <input matInput
                    type="text"
                    placeholder="Akun Beban"
                    name="coa_beban"
                    [(ngModel)]="form.coa_beban_input"
                    [matAutocomplete]="acCoaBeban"
                    (ngModelChange)="COAFilter('coa_beban')"
                    [readonly]="form.is_detail"
                >
                <button mat-button *ngIf="form.coa_beban_input && !form.is_detail" matSuffix mat-icon-button aria-label="Clear" (click)="ClearInput('coa_beban')">
                    <mat-icon>close</mat-icon>
                </button>
                <mat-autocomplete #acCoaBeban="matAutocomplete" class="force-wrap ac-small">
                    <mat-option *ngFor="let item of COA" [value]="item.kode + ' - ' + item.nama" (onSelectionChange)="COASelect($event, item, 'coa_beban')">
                        {{ item.kode }} 
                        ({{ item.nama }}) 
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>

            <mat-form-field appearance="outline" class="small">
                <mat-label>Akun Penjualan</mat-label>
                <input matInput
                    type="text"
                    placeholder="Akun Penjualan"
                    name="coa_penjualan"
                    [(ngModel)]="form.coa_penjualan_input"
                    [matAutocomplete]="acCoaPenjualan"
                    (ngModelChange)="COAFilter('coa_penjualan')"
                    [readonly]="form.is_detail"
                >
                <button mat-button *ngIf="form.coa_penjualan_input && !form.is_detail" matSuffix mat-icon-button aria-label="Clear" (click)="ClearInput('coa_penjualan')">
                    <mat-icon>close</mat-icon>
                </button>
                <mat-autocomplete #acCoaPenjualan="matAutocomplete" class="force-wrap ac-small">
                    <mat-option *ngFor="let item of COA" [value]="item.kode + ' - ' + item.nama" (onSelectionChange)="COASelect($event, item, 'coa_penjualan')">
                        {{ item.kode }} 
                        ({{ item.nama }}) 
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>

            <mat-form-field appearance="outline" class="small">
                <mat-label>Akun Diskon Penjualan</mat-label>
                <input matInput
                    type="text"
                    placeholder="Akun Diskon Penjualan"
                    name="coa_disc_penjualan"
                    [(ngModel)]="form.coa_disc_penjualan_input"
                    [matAutocomplete]="acCoaDiscPenjualan"
                    (ngModelChange)="COAFilter('coa_disc_penjualan')"
                    [readonly]="form.is_detail"
                >
                <button mat-button *ngIf="form.coa_disc_penjualan_input && !form.is_detail" matSuffix mat-icon-button aria-label="Clear" (click)="ClearInput('coa_disc_penjualan')">
                    <mat-icon>close</mat-icon>
                </button>
                <mat-autocomplete #acCoaDiscPenjualan="matAutocomplete" class="force-wrap ac-small">
                    <mat-option *ngFor="let item of COA" [value]="item.kode + ' - ' + item.nama" (onSelectionChange)="COASelect($event, item, 'coa_disc_penjualan')">
                        {{ item.kode }} 
                        ({{ item.nama }}) 
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>

            <mat-form-field appearance="outline" class="small">
                <mat-label>Akun Retur Penjualan</mat-label>
                <input matInput
                    type="text"
                    placeholder="Akun Retur Penjualan"
                    name="coa_retur_penjualan"
                    [(ngModel)]="form.coa_retur_penjualan_input"
                    [matAutocomplete]="acCoaReturPenjualan"
                    (ngModelChange)="COAFilter('coa_retur_penjualan')"
                    [readonly]="form.is_detail"
                >
                <button mat-button *ngIf="form.coa_retur_penjualan_input && !form.is_detail" matSuffix mat-icon-button aria-label="Clear" (click)="ClearInput('coa_retur_penjualan')">
                    <mat-icon>close</mat-icon>
                </button>
                <mat-autocomplete #acCoaReturPenjualan="matAutocomplete" class="force-wrap ac-small">
                    <mat-option *ngFor="let item of COA" [value]="item.kode + ' - ' + item.nama" (onSelectionChange)="COASelect($event, item, 'coa_retur_penjualan')">
                        {{ item.kode }} 
                        ({{ item.nama }}) 
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>

            <mat-form-field appearance="outline" class="small">
                <mat-label>Akun Retur Pembelian</mat-label>
                <input matInput
                    type="text"
                    placeholder="Akun Retur Pembelian"
                    name="coa_retur_pembelian"
                    [(ngModel)]="form.coa_retur_pembelian_input"
                    [matAutocomplete]="acCoaReturPembelian"
                    (ngModelChange)="COAFilter('coa_retur_pembelian')"
                    [readonly]="form.is_detail"
                >
                <button mat-button *ngIf="form.coa_retur_pembelian_input && !form.is_detail" matSuffix mat-icon-button aria-label="Clear" (click)="ClearInput('coa_retur_pembelian')">
                    <mat-icon>close</mat-icon>
                </button>
                <mat-autocomplete #acCoaReturPembelian="matAutocomplete" class="force-wrap ac-small">
                    <mat-option *ngFor="let item of COA" [value]="item.kode + ' - ' + item.nama" (onSelectionChange)="COASelect($event, item, 'coa_retur_pembelian')">
                        {{ item.kode }} 
                        ({{ item.nama }}) 
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>

            <mat-form-field appearance="outline" class="small">
                <mat-label>Akun HPP</mat-label>
                <input matInput
                    type="text"
                    placeholder="Akun HPP"
                    name="coa_hpp"
                    [(ngModel)]="form.coa_hpp_input"
                    [matAutocomplete]="acCoaHpp"
                    (ngModelChange)="COAFilter('coa_hpp')"
                    [readonly]="form.is_detail"
                >
                <button mat-button *ngIf="form.coa_hpp_input && !form.is_detail" matSuffix mat-icon-button aria-label="Clear" (click)="ClearInput('coa_hpp')">
                    <mat-icon>close</mat-icon>
                </button>
                <mat-autocomplete #acCoaHpp="matAutocomplete" class="force-wrap ac-small">
                    <mat-option *ngFor="let item of COA" [value]="item.kode + ' - ' + item.nama" (onSelectionChange)="COASelect($event, item, 'coa_hpp')">
                        {{ item.kode }} 
                        ({{ item.nama }}) 
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>

            <mat-form-field appearance="outline" class="small">
                <mat-label>Akun Penerimaan Barang Belum Tertagih</mat-label>
                <input matInput
                    type="text"
                    placeholder="Akun Penerimaan Barang Belum Tertagih"
                    name="coa_accrued"
                    [(ngModel)]="form.coa_accrued_input"
                    [matAutocomplete]="acCoaAccrued"
                    (ngModelChange)="COAFilter('coa_accrued')"
                    [readonly]="form.is_detail"
                >
                <button mat-button *ngIf="form.coa_accrued_input && !form.is_detail" matSuffix mat-icon-button aria-label="Clear" (click)="ClearInput('coa_accrued')">
                    <mat-icon>close</mat-icon>
                </button>
                <mat-autocomplete #acCoaAccrued="matAutocomplete" class="force-wrap ac-small">
                    <mat-option *ngFor="let item of COA" [value]="item.kode + ' - ' + item.nama" (onSelectionChange)="COASelect($event, item, 'coa_accrued')">
                        {{ item.kode }} 
                        ({{ item.nama }}) 
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </ng-container>

    </mat-dialog-content>


    <!-- / CONTENT -->

    <!-- ACTION -->
    <mat-dialog-actions class="p-16 m-0" fxLayout="row" fxLayoutAlign="end">

        <div fxFlex="1 1 auto">
            <button
                *ngIf="!form.is_detail"
                type="submit"
                mat-raised-button
                color="primary"
                [disabled]="Busy">
                <mat-icon>save</mat-icon>
                {{ Busy ? 'Please Wait...' : 'Save' }}
            </button>

            <button *ngIf="form.is_detail && perm.edit"
                type="button"
                mat-button
                (click)="Edit();">
                <mat-icon>create</mat-icon>
                Edit
            </button>
        </div>

        <div>
            <button mat-button
                type="button"
                mat-dialog-close
                *ngIf="!Busy">
                Close
            </button>
        </div>

    </mat-dialog-actions>
    <!-- / ACTION -->

</form>