<div class="page-layout simple" fusePerfectScrollbar>

    <!-- CONTENT HEADER -->
    <div class="header dx-header primary-bg primary p-12" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px" *fuseIfOnDom>

        <div fxFlex="1 1 auto" fxLayout="row" fxLayoutGap="10px">
            <div fxFlex="0 0 auto">
                <button 
                    mat-flat-button
                    class="orange-bg" 
                    (click)="Back()" 
                    [@animate]="{value:'*',params:{delay:'50ms',x:'35px'}}"
    
                >
                    <mat-icon class="orange-bg">arrow_back</mat-icon>
                    Back
                </button>
            </div>

            <div class="logo" fxLayout="row" fxLayoutAlign="start center" style="position: relative;" *ngIf="Default">
                <mat-icon *ngIf="Com.icon_type != 'fa'" class="logo-icon mr-16" [@animate]="{value:'*',params:{delay:'250ms',scale:'0.2'}}">
                    {{ Com.icon }}
                </mat-icon>
                <span *ngIf="Com.icon_type == 'fa'" class="mr-16" [@animate]="{value:'*',params:{delay:'250ms',scale:'0.2'}}">
                    <i [class]="Com.icon"></i>
                </span>
                <span class="logo-text h3" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'300ms',x:'-25px'}}">
                    {{ Default.kode }}
                </span>
            </div>

            <!-- SEARCH -->
            <button
                mat-button
                color="accent"
                (click)="Reload()"
                [@animate]="{value:'*', params:{delay:'350ms',x:'35px'}}"
            >
                <mat-icon>refresh</mat-icon>
                Refresh Data
            </button>
        </div>
        
        <!-- BUTTON ADD -->
        <div fxFlex="0 0 auto">
            <button 
                mat-raised-button
                class="accent-bg" 
                (click)="OpenForm('add')" 
                [@animate]="{value:'*',params:{delay:'150ms',y:'35px'}}"
                *ngIf="perm.add"
            >
                <mat-icon class="accent-bg">add</mat-icon>
                Create {{ Com.name }}
            </button>
        </div>
        <!-- / BUTTON ADD -->

    </div>
    <!-- CONTENT HEADER -->

    
    <!-- CONTENT -->
    <div class="content" style="height: 100%;">

        <ag-grid-angular
            style="width: 100%; height: 100%"
            class="ag-theme-balham"
            
            [defaultColDef]="gridOptions.defaultColDef"
            [columnDefs]="TableCol"
            [context]="gridOptions.context"
            [enableFilter]="gridOptions.enableFilter"
            [floatingFilter]="gridOptions.floatingFilter"
            [animateRows]="gridOptions.animateRows"
            [enableColResize]="gridOptions.enableColResize"
            [allowContextMenuWithControlKey]="gridOptions.allowContextMenuWithControlKey"
            [getContextMenuItems]="getContextMenuItems"

            [rowModelType]="gridOptions.rowModelType"
            [rowBuffer]="gridOptions.rowBuffer"
            [debug]="gridOptions.debug"
            [rowSelection]="gridOptions.rowSelection"
            [rowDeselection]="gridOptions.rowDeselection"
            [cacheOverflowSize]="gridOptions.cacheOverflowSize"
            [maxConcurrentDatasourceRequests]="gridOptions.maxConcurrentDatasourceRequests"
            [infiniteInitialRowCount]="gridOptions.infiniteInitialRowCount"
            [cacheBlockSize]="gridOptions.cacheBlockSize"
            [maxBlocksInCache]="gridOptions.maxBlocksInCache"

            (gridReady)="onGridReady($event)"
            (filterChanged)="FilterChanged($event)"
            (cellDoubleClicked)="onDoubleClick($event)"
        ></ag-grid-angular>

        <!-- <div fxLayout="column" fxFlex="0 1 auto" style="background: #FFF">

            <div class="form-section-header text-bold primary-900 mb-0">
                FINISH GOODS INFORMATIONS
            </div>

            <div class="m-32" *ngIf="!Ready">
                <mat-spinner color="primary" diameter="250" strokeWidth="15"></mat-spinner>
                <div class="mt-32 text-center">
                    Getting Informations...
                </div>
            </div>

            <ng-container *ngIf="Ready">
                <div class="form-section-header text-bold mb-0">
                    PROGRESS
                </div>
                <div class="h1 form-section-header text-bold mb-0">
                    {{ progres }} %
                </div>
                <div class="form-section-header text-bold primary mb-0">
                    FINISH GOODS TRANSFER
                </div>
                <table class="table table-border-top table-hover table-list table-responsive table-input mb-0">
                    <thead>
                        <tr>
                            <th style="vertical-align: middle!important; min-width: 100px;">
                                Items
                            </th>
                            <th>
                                Transfer
                            </th>
                            <th >
                                Receive
                            </th>
                        </tr>   
                    </thead>
                    <tbody nopadding *ngIf="Default && Default.TFG.output">
                        <ng-container *ngFor="let item of Default.TFG.output">
                            <tr>
                                <td padding5 style="min-width: 200px; max-width: 200px;">
                                    {{ item.nama }}
                                </td>
                                <td>
                                    <input 
                                        type="text" 
                                        placeholder="-" 
                                        name="qty_ref" 
                                        [(ngModel)]="item.qty_ref"
                                        readonly
                                        currencyMask
                                        [options]="
                                        item.in_decimal == 1 ? {
                                            prefix: '',
                                            thousands: '.',
                                            decimal: ',',
                                            precision: 2
                                        } : {
                                            prefix: '',
                                            thousands: '.',
                                            decimal: ',',
                                            precision: 0
                                        }
                                        "
                                    >
                                </td>
                                <td>
                                    <input 
                                        type="text" 
                                        placeholder="-" 
                                        name="total" 
                                        [(ngModel)]="item.total"
                                        readonly
                                        currencyMask
                                        [options]="
                                        item.in_decimal == 1 ? {
                                            prefix: '',
                                            thousands: '.',
                                            decimal: ',',
                                            precision: 2
                                        } : {
                                            prefix: '',
                                            thousands: '.',
                                            decimal: ',',
                                            precision: 0
                                        }
                                        "
                                    >
                                </td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
            </ng-container>
            
        </div> -->
    </div>
    <!-- / CONTENT -->
</div>