<div class="page-layout simple fullwidth">

    <!-- HEADER -->
    <!-- <div class="header dx-header grey-300-bg p-24" fxLayout="column" fxLayoutAlign="center center">

        <div fxLayout="row" fxLayoutGap="10px" *ngIf="Default && Default.user">
            <div class="logo" fxLayout="row" fxLayoutAlign="center center" style="position: relative;">
                <mat-icon class="logo-icon mr-16" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    touch_app
                </mat-icon>
                <span class="logo-text h1 mr-16" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    Selamat Datang {{ Default.user.nama }}
                </span>
            </div>
        </div>
        <div>
            <div class="h4 ml-16" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',scale:'0.2'}}">
                LOGISYS - Logistic System
            </div>
        </div>

    </div> -->
    <!-- / HEADER -->

    <div fxFlex="1 1 auto" class="p-16" fxLayout="column" fxLayoutGap="10px">
        <div fxLayout="row" fxLayoutGap="10px">
            <div fxFlex="1 1 auto" fxLayout="column" [chart]="chart_out"></div>   
        </div>
    </div>

</div>