<form ngNativeValidate fxLayout="column" class="dialog-content-wrapper" cdkDrag cdkDragRootElement=".cdk-overlay-pane" style="min-width: 500px" autocomplete="off" (ngSubmit)="Simpan()">

    <mat-toolbar cdkDragHandle matDialogTitle class="mat-primary m-0">
        <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">
                {{Com.title}} Form
            </span>
            <button 
                mat-button 
                type="button"
                class="mat-icon-button ml-24"
                mat-dialog-close
                aria-label="Close dialog"
                tabindex="-1"
                *ngIf="!Busy"
            >
                <mat-icon class="white-fg">close</mat-icon>
            </button>
        </div>
    </mat-toolbar>

    <mat-dialog-content fxLayout="row" fxLayout.sm="column" fxLayoutGap="10px" class="m-0 p-24">

        <!-- LEFT -->
        <mat-dialog-content fxLayout="column" fxFlex="1 1 auto">

            <div class="form-section-header">
                GENERAL
            </div>

            <mat-form-field floatPlaceholder="always" appearance="outline" class="small">
                <mat-label>DATE</mat-label>
                <input matInput
                    name="ap_date"
                    placeholder="Please Select Date"
                    [(ngModel)]="form.ap_date"
                    required
                    [matDatepicker]="ap_date"
                    (focus)="ap_date.open()"
                    (click)="ap_date.open()"
                    [disabled]="form.is_detail"
                    readonly
                    style="font-size: 14px!important; color: #000!important; padding: 0px!important; text-align: center;"
                    [tabindex]="form.id != 'add' ? '-1' : ''"
                >
                <mat-datepicker #ap_date></mat-datepicker>
            </mat-form-field>

            <mat-form-field *ngIf="form.ap_date" floatPlaceholder="always" appearance="outline" class="small">
                <mat-label>Total Man Power</mat-label>
                <input matInput 
                    type="text" 
                    placeholder="Total Man Power" 
                    name="man_power" 
                    [(ngModel)]="form.man_power"
                    readonly
                    currencyMask
                    [options]="
                    {
                        suffix: ' Man Power',
                        prefix: '',
                        allowNegative: false,
                        thousands: '.',
                        decimal: ',',
                        precision: 0
                    }
                    "
                >
            </mat-form-field>

            <mat-form-field *ngIf="form.ap_date" floatPlaceholder="always" appearance="outline" class="small">
                <mat-label>Running Hours</mat-label>
                <input matInput 
                    type="text" 
                    placeholder="Running Hours" 
                    name="running_hours" 
                    [(ngModel)]="form.running_hours"
                    tabindex="-1"
                    currencyMask
                    [options]="
                    {
                        suffix: ' Hours',
                        prefix: '',
                        allowNegative: false,
                        thousands: '.',
                        decimal: ',',
                        precision: 0
                    }
                    "
                    readonly
                >
            </mat-form-field>

        </mat-dialog-content>
        <!-- / END : LEFT -->

         <!-- RIGHT -->
         <mat-dialog-content *ngIf="form.ap_date" fxLayout="column" fxFlex="1 1 auto">

            <!-- OUTPUT -->
            <div class="primary mb-0 p-4 text-center">
                PRODUCTION OUTPUT
            </div>
            <div>
                <table class="table table-responsive table-input table-input-small table-small table-striped table-hover table-border-top">
                    <thead>
                        <tr>
                            <th width="10">
                                No.
                            </th>
                            <th width="75">
                                Code
                            </th>
                            <th width="300">
                                Item Name
                            </th>
                            <!-- <th width="150">
                                Stock
                            </th> -->
                            <th width="150">
                                Qty
                            </th>
                            <th width="50">
                                UOM
                            </th>   
                        </tr>
                    </thead>
                    <tbody nopadding>
                        <ng-container *ngFor="let item of Output; let i = index;">
                            <tr *ngIf="item.id">
                                <td padding5 align="center">
                                    {{ i+1 }}
                                </td>
                                <td padding5 style="white-space:nowrap!important;">
                                    {{ item.kode }}
                                </td>
                                <td padding5 style="position: relative;">
                                    {{ item.nama }}
                                </td>
                                <!-- <td padding5 [class]="item.stock <= 0 ? 'grey-900-bg' : ''"  style="text-align: right;">
                                    {{ rupiah(item.stock) }}
                                </td> -->
                                <td>
                                    <input 
                                        [disabled]="!item.id"
                                        type="text" 
                                        autocomplete="off"
                                        maxlength="23"
                                        currencyMask
                                        name="output-qty-{{i}}"
                                        id="output-qty-{{i}}"
                                        [(ngModel)]="item.qty"
                                        required
                                        [options]="
                                        item.in_decimal == 1 ? {
                                            prefix: '',
                                            allowNegative: false,
                                            thousands: '.',
                                            decimal: ',',
                                            precision: 2
                                        } : {
                                            prefix: '',
                                            allowNegative: false,
                                            thousands: '.',
                                            decimal: ',',
                                            precision: 0
                                        }
                                        "
                                        [readonly] ="form.is_detail"
                                    >
                                </td>
                                <td padding5 class="text-center">
                                    {{ item.satuan }}
                                </td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
            </div>
            <!-- END OUTPUT -->

            <!-- MATERIALS -->
            <div class="lime mt-32 mb-0 p-4 text-center">
                MATERIALS
            </div>
            <div>
                <table class="table table-responsive table-input table-small table-striped table-hover table-border-top">
                    <thead>
                        <tr>
                            <th width="10">
                                No.
                            </th>
                            <th width="75">
                                Code
                            </th>
                            <th width="300">
                                Item Name
                            </th>
                            <th width="150">
                                Stock
                            </th>
                            <th width="150">
                                Qty
                            </th>
                            <th width="50">
                                UOM
                            </th>   
                        </tr>
                    </thead>
                    <tbody nopadding>
                        <ng-container *ngFor="let item of Material; let i = index;">
                            <tr *ngIf="item.id">
                                <td padding5 align="center">
                                    {{ i+1 }}
                                </td>
                                <td padding5 style="white-space:nowrap!important;">
                                    {{ item.kode }}
                                </td>
                                <td padding5 style="position: relative;">
                                    {{ item.nama }}
                                </td>
                                <td padding5 [class]="item.is_fix ? 'grey-900-bg' : ''" style="text-align: right;">
                                    {{ rupiah(item.stock, item.is_fix) }}
                                </td>
                                <!-- <td class="text-center">
                                    <input 
                                        [disabled]="!item.id"
                                        type="text" 
                                        autocomplete="off"
                                        maxlength="23"
                                        currencyMask
                                        name="material-stock-{{i}}"
                                        id="material-stock-{{i}}"
                                        [(ngModel)]="item.stock"
                                        required
                                        [options]="
                                        item.in_decimal == 1 ? {
                                            prefix: '',
                                            allowNegative: false,
                                            thousands: '.',
                                            decimal: ',',
                                            precision: 2
                                        } : {
                                            prefix: '',
                                            allowNegative: false,
                                            thousands: '.',
                                            decimal: ',',
                                            precision: 0
                                        }
                                        "
                                        readonly
                                        tabindex="-1"
                                    >
                                </td> -->
                                <td>
                                    <input 
                                        [disabled]="!item.id || (!item.stock_def && !item.is_fix)"
                                        type="text" 
                                        autocomplete="off"
                                        maxlength="23"
                                        currencyMask
                                        name="material-qty-{{i}}"
                                        id="material-qty-{{i}}"
                                        [(ngModel)]="item.qty"
                                        (ngModelChange)="Calculate(item)"
                                        [options]="
                                        item.in_decimal == 1 ? {
                                            prefix: '',
                                            allowNegative: false,
                                            thousands: '.',
                                            decimal: ',',
                                            precision: 2
                                        } : {
                                            prefix: '',
                                            allowNegative: false,
                                            thousands: '.',
                                            decimal: ',',
                                            precision: 0
                                        }
                                        "
                                        [readonly] ="form.is_detail"
                                    >
                                </td>
                                <td padding5 class="text-center">
                                    {{ item.satuan }}
                                </td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
            </div>
            <!-- MATERIALS -->

            <!-- UTILITY -->
            <div class="lime mt-32 mb-0 p-4 text-center">
                    UTILITIES
            </div>
            <div>
                <table class="table table-responsive table-input table-small table-striped table-hover table-border-top">
                    <thead>
                        <tr>
                            <th width="10">
                                No.
                            </th>
                            <th width="75">
                                Code
                            </th>
                            <th width="300">
                                Item Name
                            </th>
                            <th width="150">
                                Stock
                            </th>
                            <th width="150">
                                Qty
                            </th>
                            <th width="50">
                                UOM
                            </th>   
                        </tr>
                    </thead>
                    <tbody nopadding>
                        <ng-container *ngFor="let item of Utility; let i = index;">
                            <tr *ngIf="
                            item.id                               
                            ">
                                <td padding5 align="center">
                                    {{ i+1 }}
                                </td>
                                <td padding5 style="white-space:nowrap!important;">
                                    {{ item.kode }}
                                </td>
                                <td padding5 style="position: relative;">
                                    {{ item.nama }}
                                </td>
                                <td padding5 [class]="item.is_fix ? 'grey-900-bg' : ''" style="text-align: right;">
                                    {{ rupiah(item.stock, item.is_fix) }}
                                </td>
                                <!-- <td class="text-center" [ngClass]="item.is_fix ? 'grey-900' : ''">
                                    <input 
                                        [disabled]="!item.id"
                                        type="text" 
                                        autocomplete="off"
                                        maxlength="23"
                                        currencyMask
                                        name="utility-stock-{{i}}"
                                        id="utility-stock-{{i}}"
                                        [(ngModel)]="item.stock"
                                        required
                                        [options]="
                                        item.in_decimal == 1 ? {
                                            prefix: '',
                                            allowNegative: false,
                                            thousands: '.',
                                            decimal: ',',
                                            precision: 2
                                        } : {
                                            prefix: '',
                                            allowNegative: false,
                                            thousands: '.',
                                            decimal: ',',
                                            precision: 0
                                        }
                                        "
                                        readonly
                                        tabindex="-1"
                                    >
                                </td> -->
                                <td>
                                    <input 
                                        [disabled]="!item.id || (!item.stock_def && !item.is_fix)"
                                        type="text" 
                                        autocomplete="off"
                                        maxlength="23"
                                        currencyMask
                                        name="utility-qty-{{i}}"
                                        id="utility-qty-{{i}}"
                                        [(ngModel)]="item.qty"
                                        (ngModelChange)="Calculate(item)"
                                        [options]="
                                        item.in_decimal == 1 ? {
                                            prefix: '',
                                            allowNegative: false,
                                            thousands: '.',
                                            decimal: ',',
                                            precision: 2
                                        } : {
                                            prefix: '',
                                            allowNegative: false,
                                            thousands: '.',
                                            decimal: ',',
                                            precision: 0
                                        }"
                                        [readonly] ="form.is_detail"
                                    >
                                </td>
                                <td padding5 class="text-center">
                                    {{ item.satuan }}
                                </td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
            </div>
            <!-- END UTILITY -->

            <!-- CONSUMTABLE CONSUMTION -->
            <div class="grey-200 mt-32 mb-0 p-4 text-center">
                OTHERS
            </div>
            <div>
                <table class="table table-responsive table-input table-small table-striped table-hover table-border-top">
                    <thead>
                        <tr>
                            <th width="10">
                                <div *ngIf="!form.is_detail">
                                    <mat-icon color="warn">delete</mat-icon>
                                </div>
                                <div *ngIf="form.is_detail">
                                    No.
                                </div>   
                            </th>
                            <th width="75">
                                Code
                            </th>
                            <th width="300">
                                Item Name
                            </th>
                            <th width="150">
                                Stock
                            </th>
                            <th width="150">
                                Qty
                            </th>
                            <th width="50">
                                UOM
                            </th> 
                        </tr>
                    </thead>
                    <tbody nopadding>
                        <tr *ngFor="let item of List; let i = index;">
                            <td class="text-center">
                                <div *ngIf="!form.is_detail">
                                    <button 
                                            type="button"
                                            mat-icon-button
                                            (click)="DeleteList(i, 'item')"
                                            *ngIf="
                                                List?.length > 1 && 
                                                item.id
                                            "
                                            tabindex="-1"
                                            >
                                        <mat-icon class="red-fg">close</mat-icon>
                                    </button>
                                </div>
                                <div *ngIf="form.is_detail" padding5>
                                    {{ i+1 }}
                                </div>
                            </td>
                            <td padding5 style="white-space:nowrap!important;">
                                {{ item.kode }}
                            </td>
                            <!-- Input Name -->
                            <td style="position: relative;" *ngIf="!form.is_detail">
                                
                                <textarea
                                    type="text"
                                    placeholder="Item Name"
                                    id="nama-{{i}}"
                                    name="nama-{{i}}"
                                    [(ngModel)]="item.nama"
                                    [matAutocomplete]="acItem"
                                    (ngModelChange)="ItemFilter(item.nama, i)"
                                    [readonly]="form.is_detail || item.id"
                                    [tabindex]="item.id ? '-1' : null"
                                ></textarea>
                                <mat-autocomplete #acItem="matAutocomplete" class="force-wrap ac-small">
                                    <mat-option *ngFor="let item of Item"  (onSelectionChange)="ItemSelect($event, item, i, 'item')" [value]="item.nama">
                                        <sup><strong class="primary-fg">{{ item.kode }}</strong></sup> 
                                        {{ item.nama }}
                                        <div>
                                            <small>Stock : {{ rupiah(item.stock) }} {{ item.satuan }} </small>
                                        </div>
                                        <mat-divider></mat-divider>
                                    </mat-option>
                                </mat-autocomplete>
                                <div *ngIf="WaitItem[i]" style="
                                    position: absolute;
                                    right: 0px;
                                    top: 0px;
                                ">
                                    <mat-spinner
                                        diameter="20"
                                        strokeWidth="2"
                                        color="error"
                                        style="margin-top: 5px;"
                                    ></mat-spinner>
                                </div>

                            </td>
                            <td *ngIf="form.is_detail" padding5>
                                {{ item.nama }}
                            </td>
                            <td padding5 [class]="item.is_fix ? 'grey-900-bg' : ''" style="text-align: right;">
                                {{ rupiah(item.stock, item.is_fix) }}
                            </td>
                            <!-- <td padding5 class="text-center">
                                <input 
                                    [disabled]="!item.id"
                                    type="text" 
                                    autocomplete="off"
                                    maxlength="23"
                                    currencyMask
                                    name="list-stock-{{i}}"
                                    id="list-stock-{{i}}"
                                    [(ngModel)]="item.stock"
                                    required
                                    [options]="
                                    item.in_decimal == 1 ? {
                                        prefix: '',
                                        allowNegative: false,
                                        thousands: '.',
                                        decimal: ',',
                                        precision: 2
                                    } : {
                                        prefix: '',
                                        allowNegative: false,
                                        thousands: '.',
                                        decimal: ',',
                                        precision: 0
                                    }
                                    "
                                    readonly
                                    tabindex="-1"
                                >
                            </td> -->
                            <td>
                                <input 
                                    [disabled]="!item.id || !item.stock_def"
                                    type="text" 
                                    autocomplete="off"
                                    maxlength="23"
                                    currencyMask
                                    name="qty-{{i}}"
                                    id="qty-{{i}}"
                                    [(ngModel)]="item.qty"
                                    (ngModelChange)="Calculate(item)"
                                    [required]="item.id"
                                    [options]="
                                    item.in_decimal == 1 ? {
                                        prefix: '',
                                        allowNegative: false,
                                        thousands: '.',
                                        decimal: ',',
                                        precision: 2
                                    } : {
                                        prefix: '',
                                        allowNegative: false,
                                        thousands: '.',
                                        decimal: ',',
                                        precision: 0
                                    }"
                                    [readonly]="form.is_detail"
                                >
                            </td>
                            <td padding5 class="text-center">
                                {{ item.satuan }}
                            </td>
                        </tr>
                    </tbody>
                    <tr *ngIf="form.is_detail && !List">
                        <td padding5 class="text-center" colspan="6">
                            NO DATA
                        </td>
                    </tr>
                </table>
            </div>
            <!-- END CONSUMTABLE CONSUMTION -->    
      
        </mat-dialog-content>
        <!-- / RIGHT -->

        <mat-dialog-content fxLayout="column" *ngIf="form.ap_date">
            <div class="primary mb-0 p-4 text-center">
                MAN POWER
            </div>
            <div>
                <table class="table table-responsive table-input table-small table-striped table-hover table-border-top">
                    <thead>
                        <tr>
                            <th width="30">
                                <div *ngIf="!form.is_detail">
                                    <mat-icon color="warn">delete</mat-icon>
                                </div>
                                <div *ngIf="form.is_detail">
                                    No.
                                </div>
                            </th>
                            <th width="100">NIK</th>
                            <th width="300">Name</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let item of ManPower; let i = index">
                        <tr *ngIf="item">
                            <td padding5 class="text-center">
                                <div *ngIf="!form.is_detail">
                                    <button 
                                            type="button"
                                            mat-icon-button
                                            (click)="DeleteList(i, 'man_power')"
                                            *ngIf="
                                                ManPower?.length > 1 && 
                                                item.nama
                                            "
                                            tabindex="-1"
                                            >
                                        <mat-icon class="red-fg">close</mat-icon>
                                    </button>
                                </div>
                                <div *ngIf="form.is_detail" padding5>
                                    {{ i+1 }}
                                </div>
                            </td>
                            <td padding5>{{ item.nik }}</td>
                            <td nopadding style="position: relative;" width="250">
                                <input 
                                    type="text"
                                    placeholder="Select Man Power"
                                    id="m_nama-{{i}}"
                                    name="m_nama-{{i}}"
                                    [(ngModel)]="item.nama"
                                    [matAutocomplete]="acManPower"
                                    (ngModelChange)="FilterManPower(item.nama, i)"
                                    [readonly]="form.is_detail || item.kid"
                                    [tabindex]="item.kid ? '-1' : null"
                                >
                                <mat-autocomplete #acManPower="matAutocomplete" class="force-wrap ac-small">
                                    <mat-option *ngFor="let item of ListManPower" [value]="item.nama" (onSelectionChange)="SelectManPower($event, item, i, 'man_power')">
                                        <sup><strong> {{ item.nik }} </strong></sup>
                                        {{ item.nama | uppercase }}
                                    </mat-option>
                                </mat-autocomplete>
                            </td>
                        </tr>
                    </tbody>
                    <tr *ngIf="form.is_detail && !ManPower">
                        <td padding5 class="text-center" colspan="3">
                            NO DATA
                        </td>
                    </tr>
                </table>
            </div>
        </mat-dialog-content>

    </mat-dialog-content>

    <!-- ACTIONS -->
    <mat-dialog-actions class="p-16 m-0" fxLayout="row" fxLayoutAlign="end" fxLayoutGap="10px">

        <div fxFlex="1 1 auto" fxLayout="row">

            <button
                *ngIf="
                    !form.is_detail && 
                    form.ap_date
                "
                type="submit"
                mat-button
                color="primary"

            >
                <mat-icon>save</mat-icon>
                {{ Busy ? 'Please Wait...' : 'Save' }}
            </button>

            <!-- <button
                *ngIf="
                    form.is_detail && 
                    form.verified != 1
                "
                type="button"
                mat-button
                (click)="Edit();"
            >
                <mat-icon>create</mat-icon>
                Edit
            </button> -->

            <button
                *ngIf="
                    form.is_detail && 
                    form.verified != 1 &&
                    perm.verify
                "
                type="button"
                mat-button
                color="primary"
                (click)="Verify();"
            >
                <mat-icon>check</mat-icon>
                {{ Busy ? 'Please Wait...' : 'Verify' }}
            </button>

            <div *ngIf="form.is_detail && perm.approve && form.verified == 1 && form.approved != 1">

                <button
                    type="button"
                    mat-button
                    color="primary"
                    [disabled]="
                        Busy
                    "
                    (click)="Approve()"
                >
                    <mat-icon>check</mat-icon>
                    {{ Busy ? 'Please Wait...' : 'Approve' }}
                </button>

                <button
                    type="button"
                    mat-button
                    color="warn"
                    [disabled]="
                        Busy
                    "
                    (click)="Reject()"
                >
                    <mat-icon>close</mat-icon>
                    {{ Busy ? 'Please Wait...' : 'Reject' }}
                </button>

            </div>

        </div>
    
        <div>
            <button 
                *ngIf="!Busy"
                type="button" 
                mat-button 
                mat-dialog-close
            >
                <mat-icon>close</mat-icon>
                Close
            </button>
        </div>
    
    </mat-dialog-actions>
    <!-- / ACTIONS -->

</form>