<form ngNativeValidate fxLayout="column" class="dialog-content-wrapper" cdkDrag cdkDragRootElement=".cdk-overlay-pane" style="min-width: 500px" autocomplete="off" (ngSubmit)="Simpan()">

    <mat-toolbar cdkDragHandle matDialogTitle class="mat-primary m-0">
        <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">
                Form {{Com.title}}
            </span>
            <button 
                mat-button 
                type="button"
                class="mat-icon-button ml-24"
                mat-dialog-close
                aria-label="Close dialog"
                tabindex="-1"
                *ngIf="!Busy"
            >
                <mat-icon class="white-fg">close</mat-icon>
            </button>
        </div>
    </mat-toolbar>

    <mat-dialog-content fxLayout="row" fxLayout.sm="column" fxLayoutGap="10px" class="m-0 p-24">

        <div fxLayout="column" >

            <mat-form-field appearance="outline" class="medium" floatLabel="always">
                <mat-label>No. Police</mat-label>
                <input matInput
                    type="text" 
                    name="veh_nopol" 
                    placeholder="Masukkan Vehicle No" 
                    [(ngModel)]="form.veh_nopol"
                    required
                    autocomplete="off"
                    readonly
                    style="text-align: center; letter-spacing: 2px; font-weight: bold"
                    class="uppercase"
                >
            </mat-form-field>
    
            <mat-form-field appearance="outline" class="small" *ngIf="form.veh">
                <mat-label>Transporter</mat-label>
                <input matInput
                    type="text" 
                    name="transporter_nama" 
                    placeholder="Nama Transporter" 
                    [(ngModel)]="form.transporter_nama"
                    readonly
                    style="text-align: center"
                    tabindex="-1"
                >
            </mat-form-field>
    
            <mat-form-field appearance="outline" class="small">
                <mat-label>Nama Driver</mat-label>
                <input matInput
                    type="text" 
                    name="driver_nama" 
                    placeholder="Masukkan Nama Driver" 
                    [(ngModel)]="form.driver_nama"
                    required
                    readonly
                    style="text-align: center"
                    class="uppercase"
                >
            </mat-form-field>
    
            <mat-form-field appearance="outline" class="small">
                <mat-label>DO No.</mat-label>
                <input matInput
                    type="text" 
                    name="do_no" 
                    placeholder="DO Number" 
                    [(ngModel)]="form.do_no"
                    required
                    readonly
                    class="uppercase"
                >
            </mat-form-field>
    
            <mat-form-field appearance="outline" class="small" floatLabel="always">
                <mat-label>Remarks</mat-label>
                <textarea matInput
                    type="text"
                    placeholder="Remarks (optional)"
                    name="remarks"
                    [(ngModel)]="form.remarks"
                    matTextareaAutosize 
                    [matAutosizeMinRows]="3"
                    [matAutosizeMaxRows]="8"
                    readonly
                ></textarea>
            </mat-form-field>

        </div>

        <div fxLayout="column" fxFlex="1 1 auto">

            <mat-form-field appearance="outline" class="small">
                <mat-label>Seal No.</mat-label>
                <input matInput
                    type="text" 
                    name="seal" 
                    placeholder="Seal Number" 
                    [(ngModel)]="form.seal_no"
                    readonly
                    class="uppercase"
                >
            </mat-form-field>

            <mat-form-field fxFlex="0 1 auto" appearance="outline" class="small">
                <mat-label>Ticket No.</mat-label>
                <input matInput
                    type="text" 
                    name="ticket_no" 
                    placeholder="Ticket Number" 
                    [(ngModel)]="form.ticket_no"
                    readonly
                    class="uppercase"
                >
            </mat-form-field>

            <div fxLayout="row" fxFlex="1 1 auto" fxLayoutGap="10px">   

                <div fxLayout="column" fxFlex="1 1 145px">

                    <div class="form-section-header">
                        SOURCE
                    </div>

                    <mat-form-field fxFlex="0 1 auto" appearance="outline" class="small">
                        <mat-label>Bruto</mat-label>
                        <input matInput
                            type="text" 
                            name="bruto_source" 
                            placeholder="Bruto" 
                            [(ngModel)]="form.bruto_src"
                            readonly
                            currencyMask
                            readonly
                            [options]="{
                                align: 'right',
                                precision: 0,
                                prefix: '',
                                suffix: ' KG',
                                thousands: '.'
                            }"
                        >
                    </mat-form-field>

                    <mat-form-field fxFlex="0 1 auto" appearance="outline" class="small">
                        <mat-label>Tare</mat-label>
                        <input matInput
                            type="text" 
                            name="tara_source" 
                            placeholder="Tare" 
                            [(ngModel)]="form.tara_src"
                            [readonly]="form.out || isSync"
                            currencyMask
                            readonly
                            [options]="{
                                align: 'right',
                                precision: 0,
                                prefix: '',
                                suffix: ' KG',
                                thousands: '.'
                            }"
                        >
                    </mat-form-field>

                    <mat-form-field fxFlex="0 1 auto" appearance="outline" class="small">
                        <mat-label>Netto</mat-label>
                        <input matInput
                            type="text" 
                            name="netto_source" 
                            placeholder="Netto" 
                            [(ngModel)]="form.netto_src"
                            readonly
                            currencyMask
                            readonly
                            [options]="{
                                align: 'right',
                                precision: 0,
                                prefix: '',
                                suffix: ' KG',
                                thousands: '.'
                            }"
                        >
                    </mat-form-field>

                </div>

                <div fxLayout="column" fxFlex="1 1 145px">

                    <div class="form-section-header">
                        WB
                    </div>

                    <mat-form-field fxFlex="0 1 auto" appearance="outline" class="small">
                        <mat-label>Weigh 1</mat-label>
                        <input matInput
                            type="text" 
                            name="weigh1" 
                            placeholder="Bruto" 
                            [(ngModel)]="form.weigh_in"
                            currencyMask
                            [options]="{
                                align: 'right',
                                precision: 0,
                                prefix: '',
                                suffix: ' KG',
                                thousands: '.'
                            }"
                            readonly
                        >
                    </mat-form-field>

                    <mat-form-field fxFlex="0 1 auto" appearance="outline" class="small">
                        <mat-label>Weigh 2</mat-label>
                        <input matInput
                            type="text" 
                            name="weigh2" 
                            placeholder="Tare" 
                            [(ngModel)]="form.weigh_out"
                            currencyMask
                            [options]="{
                                align: 'right',
                                precision: 0,
                                prefix: '',
                                suffix: ' KG',
                                thousands: '.'
                            }"
                            readonly
                        >
                    </mat-form-field>

                    <mat-form-field fxFlex="0 1 auto" appearance="outline" class="small">
                        <mat-label>Netto</mat-label>
                        <input matInput
                            type="text" 
                            name="netto" 
                            placeholder="Netto" 
                            [(ngModel)]="form.netto"
                            currencyMask
                            [options]="{
                                align: 'right',
                                precision: 0,
                                prefix: '',
                                suffix: ' KG',
                                thousands: '.'
                            }"
                            readonly
                        >
                    </mat-form-field>

                </div>

            </div>

        </div>

    </mat-dialog-content>

    <!-- ACTIONS -->
    <mat-dialog-actions class="p-16 m-0" fxLayout="row" fxLayoutAlign="end" fxLayoutGap="10px">
    
        <div fxFlex="1 1 auto" fxLayout="row">
            <div class="ml-8">
                <button
                    type="button" 
                    mat-button
                    color="primary"
                    (click)="Print()"
                >
                    <mat-icon>print</mat-icon>
                    Detail Transaction
                </button>
            </div>

        </div>

        <div>
            <button 
                *ngIf="!Busy"
                type="button" 
                mat-button 
                mat-dialog-close
            >
                <mat-icon>close</mat-icon>
                Close
            </button>
        </div>
    
    </mat-dialog-actions>
    <!-- / ACTIONS -->

</form>